@font-face {
    font-family: 'Kalam';
    src: url('subset-Kalam-Bold.eot');
    src: url('subset-Kalam-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Kalam-Bold.woff2') format('woff2'),
        url('subset-Kalam-Bold.woff') format('woff'),
        url('subset-Kalam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

