/* Slider animation*/
@keyframes fadeInRibbon {
    0%   {right: -100%;}
    100% {right: 10%;}
}
@keyframes fadeoutRibbon {
     100%   {right: -100%;}
     0% {right: 10%;}
 }
@keyframes fadeInTitle {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slideLeft {
    0%   {left: -10%;}
    100% {left: 20%;}
}
@keyframes slideLeft2 {
    0%   {left: 10%;}
    100% {left: 35%;}
}
/*
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
*/
.slider-home .slick-item{
    position: relative;
    overflow: hidden;
}
.slider-home .slick-ribbon{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    backgroud-size: cover;
    transform: skewX(-28deg) translateX(50%) translateZ(0);
    position: absolute;
    z-index: 1;
    text-align: right;
    width: 90%;
}
.slider-home .slick-desc-wrapper{
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 0;
    text-align:right;
    background-repeat: no-repeat;
    background-position:  center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.slider-home .slick-desc-wrapper h3 {
    text-align: center;
    margin-top: 30px;
}
.slider-home .slick-desc-wrapper .container-fluid {
    z-index: 5;
    position: relative;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider-home .slick-item .slick-ribbon {
    right: -100%;
    -webkit-animation: fadeOutRibbon 3s ease; /* Safari 4+ */
    -moz-animation:    fadeOutRibbon 3s ease; /* Fx 5+ */
    -o-animation:      fadeOutRibbon 3s ease; /* Opera 12+ */
    animation:         fadeOutRibbon 3s ease; /* IE 10+, Fx 29+ */
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */
}
.slider-home .slick-item.animation .slick-ribbon {
    -webkit-animation: fadeInRibbon 3s ease; /* Safari 4+ */
    -moz-animation:    fadeInRibbon 3s ease; /* Fx 5+ */
    -o-animation:      fadeInRibbon 3s ease; /* Opera 12+ */
    animation:         fadeInRibbon 3s ease; /* IE 10+, Fx 29+ */
    right: 10%;
}
.slider-home {
    background-color: #000;
}
.slider-home .slick-slider-top {
    margin-bottom: 0px !important;
}
.slider-home .slick-item .slick-title-1,
.slider-home .slick-item .slick-title-2 {
    color: #fff;
    line-height: 0.9;
    text-align: center;
    margin-top: 30px;
}
.slider-home .slick-item .slick-title-1 {
    margin-top: auto !important;
    opacity: 0;
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */
    transform: translateZ(0);
}
.slider-home .slick-item.animation .slick-title-1 {
    -webkit-animation: fadeInTitle 3s ease; /* Safari 4+ */
    -moz-animation:    fadeInTitle 3s ease; /* Fx 5+ */
    -o-animation:      fadeInTitle 3s ease; /* Opera 12+ */
    animation:         fadeInTitle 3s ease; /* IE 10+, Fx 29+ */
    opacity: 1;
}
.slider-home .slick-item .slick-title-2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    opacity: 0;
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */
    transform: translateZ(0);
}
.slider-home .slick-item.animation .slick-title-2 {
    -webkit-animation: fadeInTitle 4s ease; /* Safari 4+ */
    -moz-animation:    fadeInTitle 4s ease; /* Fx 5+ */
    -o-animation:      fadeInTitle 4s ease; /* Opera 12+ */
    animation:         fadeInTitle 4s ease; /* IE 10+, Fx 29+ */
    opacity: 1;
}
.slider-home .slick-desc {
    text-align: center;
    margin-top: 80px;
    opacity: 0;
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */
    transform: translateZ(0);
}
.slider-home .slick-item.animation .slick-desc {
    -webkit-animation: fadeInTitle 5s ease; /* Safari 4+ */
    -moz-animation:    fadeInTitle 5s ease; /* Fx 5+ */
    -o-animation:      fadeInTitle 5s ease; /* Opera 12+ */
    animation:         fadeInTitle 5s ease; /* IE 10+, Fx 29+ */
    opacity: 1;
}
.slider-home .slick-color-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5bc2db;
    opacity: 0.5;
    filter: saturate(2);
}
.slider-home .slick-gradient-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#253b6e+0,253b6e+100&0.35+0,0.1+100 */
    background: -moz-linear-gradient(top, rgba(37,59,110,0.35) 0%, rgba(37,59,110,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(37,59,110,0.35) 0%,rgba(37,59,110,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(37,59,110,0.35) 0%,rgba(37,59,110,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59253b6e', endColorstr='#1a253b6e',GradientType=0 ); /* IE6-9 */
}

.slider-home .slick-item .slick-gradient-skosny1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 15%;
    height: 100%;
    opacity: 0.1;
    transform: skewX(-28deg) translateZ(0);
    left: -10%;
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */
}
.slider-home .slick-item.animation .slick-gradient-skosny1{
    -webkit-animation: slideLeft 3s ease; /* Safari 4+ */
    -moz-animation:    slideLeft 3s ease; /* Fx 5+ */
    -o-animation:      slideLeft 3s ease; /* Opera 12+ */
    animation:         slideLeft 3s ease; /* IE 10+, Fx 29+ */
    left: 20%;

}
.slider-home .slick-item .slick-gradient-skosny2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 10%;
    height: 100%;
    opacity: 0.2;
    transform: skewX(-28deg) translateZ(0);
    left: 10%;
    -webkit-transition: all 0.4s ease; /* Safari 4+ */
    -moz-transition:    all 0.4s ease; /* Fx 5+ */
    -o-transition:      all 0.4s ease; /* Opera 12+ */
    transition:         all 0.4s ease; /* IE 10+, Fx 29+ */

}
.slider-home .slick-item.animation .slick-gradient-skosny2{
    -webkit-animation: slideLeft2 2s ease; /* Safari 4+ */
    -moz-animation:    slideLeft2 2s ease; /* Fx 5+ */
    -o-animation:      slideLeft2 2s ease; /* Opera 12+ */
    animation:         slideLeft2 2s ease; /* IE 10+, Fx 29+ */
    left: 35%;
}
.title-animacja3 h3 {
    animation-name: slideInUp;
    animation-duration: 3s;
}