/* Pobierz plik */
.files .pobierz-plik-wrapper {
    color: #4ec6a0;
}
.files .pobierz-plik-wrapper:hover {
    opacity: 0.7;
}
.files .fa {
    text-align: right;
    font-size: 40px;
}
.files {
    font-size: 23px;
    text-align: right;
    padding: 15px 0px;
    border-top: dashed #4ec6a0;
}