/*

Theme Name: WP FRAMEWORK THEME
Description: Theme for company - 2017
Version: 2.1
Author: Funktional


===================================================================
1. General Style
2. MENU
3. Mobile MENU
4. Page style
5. Plugins

6. MD screen style
7. SM screen style
8. XS screen style
9. ULTRA XS screen style

*/
/* ================= */
/* FONTS             */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Slab', serif;
*/

/* ================= */
/* 1. General Style  */
/* ================= */

body {
    overflow-x: hidden;
}

/* #content {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
} */




.top-10 {
    padding-top: 10px;
}

.top-20 {
    padding-top: 20px;
}

.top-30 {
    padding-top: 30px;
}

.top-40 {
    padding-top: 40px;
}

.top-50 {
    padding-top: 50px;
}

.bottom-10 {
    padding-bottom: 10px;
}

.bottom-20 {
    padding-bottom: 20px;
}

.bottom-30 {
    padding-bottom: 30px;
}

.bottom-40 {
    padding-bottom: 40px;
}

.bottom-50 {
    padding-bottom: 50px;
}

.img-responsive {
    margin: 0 auto;
}

.width100 {
    width: 100%;
}

/* btn */
.btn {
    -moz-box-shadow: 0px 3px 14px -4px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn:active {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    outline: 0;
}

.btn:hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn:focus {
    outline: 0;
}

.btn-file {
    padding-top: 8px;
    padding-bottom: 9px;
}

.transition {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b8b8b8 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #b8b8b8 !important;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #b8b8b8 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #b8b8b8 !important;
}

/* content */
.alignnone {
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

img.alignnone {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

img.alignleft {
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
    margin-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

img.alignright {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

img.aligncenter {
    display: block;
    max-width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 15px;
    margin: 0 auto;
}


.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.show {
    display: initial;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
    transition: visibility 0.5s, opacity 0.5s linear;
}


/* ================= */
/* 1.1 Page builder */
/* ================= */

.bg-center {
    background-position: center center !important;
}
.bg-l_u{
    background-position: left top !important;
}
.bg-l_d{
    background-position: left bottom !important;
}
.bg-p_u{
    background-position: right top !important;
}
.bg-p_d{
    background-position: right bottom !important;
}
.bg-c_u{
    background-position: center top !important;
}
.bg-c_d{
    background-position: center bottom !important;
}
.background_norepeat{
    background-repeat: no-repeat !important;
}

/* ================= */
/* 2. MENU           */
/* ================= */
.navbar-collapse.collapse {
    padding-bottom: 0;
    overflow: visible !important;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-collapse {
    box-shadow: none;
}


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.main-nav {

}

.nav > li > a {
    background-color: transparent;

}

.nav > li:hover > a,
.nav > li.current-menu-ancestor > a,
.nav > li.current-menu-parent > a,
.nav > li.current_page_parent > a,
.nav > li.current-menu-item > a {
    background-color: transparent;
}

.nav > li:hover,
.nav > li.current-menu-ancestor,
.nav > li.current-menu-parent,
.nav > li.current_page_parent,
.nav > li.current-menu-item {

}

.nav > li > a:focus {
    background-color: transparent;
}

.nav > li {

}

.nav > li.current-menu-item a {

}

.nav > li:hover > a,
.nav > li.open > a {

}

.nav > li > a span.caret {
    display: none;
}

.nav .dropdown-menu {

}

.nav .dropdown-menu > li {

}

.nav .dropdown-menu > li > a {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nav .dropdown-menu > li:hover > a {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nav .dropdown-menu > li.menu-item {

}

.nav .dropdown-menu > li.menu-item:first-child a {

}

.nav .dropdown-menu > li.menu-item:nth-last-child(2) a {

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {

}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {

}


/* ================= */
/*  3. Mobile MENU   */
/* ================= */
/* mobile menu */
@media (max-width: 992px) {
    /* animated burger */
    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px;
    }

    .navbar-toggle .icon-bar {
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg) scale(0.979);
        -webkit-transform: rotate(-45deg) scale(0.979);
        -moz-transform: rotate(-45deg) scale(0.979);
        -o-transform: rotate(-45deg) scale(0.979);
        -ms-transform: rotate(-45deg) scale(0.979);
    }


}

/* ================== */
/* 4. Page style      */
/* ================== */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.container {
    padding-top: 0px !important;
}
/* Menu */
.nav li a {
    color: #fff;
}
.nav li a:hover {
    opacity: 0.7;
}
.logo_img {
    padding-top: 10px;
    float: left;
}
.logo_img:hover {
    opacity: 0.7;
}
.navbar-nav {
    float: right;
}
.navbar-nav .fa {
    padding-left: 5px;
}


/* Search form */
.search-form  input[type="text"] {
    height: 60px;
    font-size: 55px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px;
    padding-right: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.search-form  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

.search-form  input[type="text"]:focus {
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
.search-form  .input-group .form-control {
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #fff !important;
    color: #fff;
}
.search-form .btn-default {
    background-color: transparent !important;
}
.search-form .btn-default .fa {
    font-size: 30px;
}

/* Widget menu */
.widget-menu-wrapper {
    padding: 30px 0px;
}
.widget-menu-wrapper ul {
    list-style-type: none;
    padding-left: 0px;
}
.widget-menu-wrapper ul li {
    display: inline-block;
    border: solid 1px #4ec6a0;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #4ec6a0;
}
.widget-menu-wrapper ul li a {
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
}
.widget-menu-wrapper ul li:hover {
    background-color: #56dab0;
}







/* ================== */
/* 5. Plugins         */
/* ================== */
