
/* ==================
//
// Welcome
//
================== */
.widget-welcome {
    width: 100vw;
    height: calc(100vh - 50px);

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .texts {
        position: absolute;
        bottom: 100px;
        left: 100px;
        z-index: 1;
        font-weight: bold;
        font-size: 28px;
        color: #cfd5e4;
        letter-spacing: 5px;
        text-transform: uppercase;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 95px;
            line-height: 95px;
            letter-spacing: 0;
            text-transform: none;
            color: #fff;
        }

        p {
            font-weight: bold;
            font-size: 28px;
            color: #cfd5e4;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }
}


/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {

    .widget-welcome {
        .texts {
            bottom: 50px;
            left: 50px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 65px;
                line-height: 65px;
            }

            p {
                font-size: 20px;
                letter-spacing: 3px;
            }
        }
    }

}


/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {

    .widget-welcome {
        height: calc(100vh - 150px);

        .texts {
            width: 100%;
            bottom: 15px;
            left: 0;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 45px;
                line-height: 45px;
                text-align: center;
                padding: 0 15px;
            }

            p {
                font-size: 16px;
                letter-spacing: 2px;
                text-align: center;
                padding: 0 15px;
            }
        }
    }
    
}
