/* ==================
// WIDGET
// Contact ;ist
================== */
.widget-contact_list {
	padding: 100px 0;

	.header {
		margin-bottom: 70px;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 5px;
		text-transform: uppercase;
		text-align: center;
		color: #969cab;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Playfair Display';
			font-weight: bold;
			font-size: 72px;
			line-height: 92px;
			text-align: center;
			letter-spacing: 0;
			text-transform: none;
			color: #ffffff;
			margin: 0;
		}

		p {
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			letter-spacing: 5px;
			text-transform: uppercase;
			text-align: center;
			color: #969cab;
		}
	}

	.infoline {
		display: flex;
		height: 85px;
		line-height: 85px;
		background: #151515;
		border-bottom: 1px solid #969cab;
		padding: 0 20%;
		margin: 25px 0 70px;

		.title {
			width: 33.333%;
			line-height: 85px;
			font-size: 28px;
			color: #fff;
			text-align: left;
		}

		.hours {
			width: 33.333%;
			line-height: 85px;
			font-size: 11px;
			color: #969cab;
			text-transform: uppercase;
			text-align: center;
		}

		.number {
			width: 33.333%;
			line-height: 85px;
			font-size: 18px;
			color: #fff;
			text-align: right;
            @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
		}
		.number:hover {
			color: #bf9e66;
		}
	}

	.group_people {
		.people {
			background: #151515;
			padding: 40px 50px;

			.photo {
				width: 100%;
				height: auto;
				padding-top: 100%;
				background-size: cover;
				border-bottom: 1px solid #969cab;
			}

			.name {
				font-size: 28px;
				line-height: 32px;
				font-weight: normal;
				text-align: left;
				color: #fff;
				margin-bottom: 5px;
			}

			.position {
				font-size: 11px;
				font-weight: normal;
				color: #969cab;
				text-transform: uppercase;
				text-align: left;
				letter-spacing: 2px;
				margin-bottom: 45px;
			}

			.email,
			.phone {
				display: block;
				font-size: 18px;
				text-align: left;
				color: #ffffff;
	            @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
				cursor: pointer;
			}

			.email:hover,
			.phone:hover {
				color: #bf9e66;
			}
		}
	}

	.background {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
	.widget-contact_list {
		padding: 80px 0;

		.header {
			font-size: 15px;
			line-height: 15px;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: 52px;
				line-height: 72px;
			}

			p {
				font-size: 15px;
				line-height: 15px;
			}
		}

		.infoline {
			padding: 0 10%;

			.title {
				font-size: 24px;
			}
		}

		.group_people {
			.people {
				.name {
					font-size: 16px;
				}

				.email,
				.phone {
					font-size: 13px;
				}
			}
		}
	}
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
	.widget-contact_list {
		padding: 40px 0;

		.header {
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 3px;
			text-align: center;
			margin-bottom: 30px;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: 26px;
				line-height: 30px;
				letter-spacing: 0;
				text-align: center;
				margin-bottom: 10px;
			}

			p {
				font-size: 12px;
				line-height: 18px;
				letter-spacing: 3px;
				text-align: center;
			}
		}

		.infoline {
			display: block;
			height: auto;
			line-height: 30px;
			padding: 15px 0;
			-webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
			-moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);

			.hours,
			.number,
			.title {
				display: block;
				width: 100%;
				padding-right: 0px;
				text-align: center;
				line-height: 35px;
			}

			.number,
			.title {
				font-size: 14px;
			}
		}

		.group_people {
			.people {
				padding: 20px 25px;
				margin-bottom: 30px;
				-webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
				-moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);

				.name {
					font-size: 15px;
				}

				.position {
					font-size: 9px;
					letter-spacing: 1px;
					margin-bottom: 25px;
				}

				.email,
				.phone {
					font-size: 13px;
				}
			}
		}
	}
}
