/* ==================
// WIDGET
// Footer
================== */
.widget-footer {
    .header {
        margin-bottom: 40px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 36px;
            line-height: 56px;
            letter-spacing: 0;
            text-align: left;
            color: #ffffff;
            margin: 0;
        }

        p {
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: left;
            color: #969cab;
        }
    }

    .photo {
        width: 100%;
        height: auto;
        padding-top: 100%;
        margin-bottom: 30px;
        background-size: cover;
    }

    .name {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: #fff;
    }

    .position {
        font-size: 11px;
        font-weight: normal;
        color: #757575;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 45px;
    }

    .email,
    .phone {
        display: block;
        font-size: 16px;
        text-align: center;
        color: #a5a5a5;
    }

    .email:hover,
    .phone:hover {
        color: #bf9e66;
    }

    .line {
        width: 1px;
        height: 500px;
        background: #252525;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .link {
        display: table;
        margin: 40px auto 0;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: #bf9e66;
        margin-top: 40px;
    }

    .link:hover {
        color: #fff;
    }

    form {
        label {
            width: 100%;
            margin-bottom: 10px;

            span {
                display: block;
                font-size: 10px;
                font-weight: normal;
                text-transform: uppercase;
                color: #858585;
                margin: 0 0 5px;
            }

            span[role="alert"] {
                color: #8c2020 !important;
                margin: 5px 0 0;
                text-align: left;
            }

            .wpcf7-list-item {
                padding: 0 0 50px 40px;
                margin: 0;

                .wpcf7-list-item {
                    padding: 0;
                }

                span {
                    display: inline;
                    text-transform: none;
                    font-size: 12px;
                    color: #858585;
                }
            }
        }

        label.focus {
            span {
                color: #bf9e66;
            }
        }

        label.checked {
            .wpcf7-list-item::before {
                background: #252525;
            }
        }

        input[type="email"],
        input[type="text"] {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: normal;
            color: #fff;
            border: none;
            border-bottom: 2px solid transparent;
            background: #2c2c2c;
            padding: 0 15px;
            @include box-sizing;
            @include transition(background, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        input[type="email"]:focus,
        input[type="text"]:focus {
            color: #252525;
            background: #fff;
            border-bottom: 2px solid #bf9e66;
        }

        input[type="checkbox"] {
            width: 0;
            height: 0;
            opacity: 0;
        }

        input[type="submit"] {
            height: 50px;
            line-height: 50px;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #fff;
            background: #bf9e66;
            border: none;
            padding: 0 50px;
            margin-top: 20px;
            @include transition(background, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        input[type="submit"]::before {
            content: "\00a0";
            width: 15px;
            height: 15px;
            background: url('img/arrow.svg') top left no-repeat;
        }

        input[type="submit"]:hover {
            background: #fff;
            color: #bf9e66;
        }

        .wpcf7-list-item::before {
            content: "\00a0";
            width: 15px;
            height: 15px;
            border: 1px solid #252525;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            @include box-sizing;
        }

        .ajax-loader {
            width: 30px !important;
            height: 30px !important;
            background: url('img/loader_blue.gif') center center no-repeat !important;
            margin: 0 0 0 20px !important;
        }

        div.wpcf7-acceptance-missing,
        div.wpcf7-validation-errors {
            border: none;
            color: #8c2020 !important;
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;
            padding: 0;
            margin: 30px 0 0;
        }

        div.wpcf7-mail-sent-ok {
            border: 2px solid #bf9e65;
            color: #bf9e65;
        }

        span.wpcf7-list-item-label::after,
        span.wpcf7-list-item-label::before {
            display: none;
            content: ".";
            width: 0;
            height: 0;
            overflow: hidden;
        }

        .wpcf7-list-item span {
            max-width: 370px;
            position: absolute;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-footer {
        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 30px;
                line-height: 50px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .name {
            font-size: 16px;
        }

        .email,
        .phone {
            font-size: 13px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-footer {
        padding: 40px 0 0;

        .col-block {
            margin-bottom: 40px;
        }

        .col-block:last-child {
            margin-bottom: 0;
        }

        .name {
            font-size: 15px;
        }

        .position {
            font-size: 9px;
            letter-spacing: 1px;
            margin-bottom: 25px;
        }

        .email,
        .link,
        .phone {
            font-size: 13px;
        }

        .link {
            margin-top: 20px;
        }

        .header h1,
        .header h2,
        .header h3,
        .header h4,
        .header h5,
        .header h6 {
            font-size: 26px;
            line-height: 30px;
            text-align: center;
        }

        .header p {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
        }

        .header,
        .header p {
            letter-spacing: 2px;
        }

        form input[type="submit"] {
            display: block;
            margin: 20px auto 0;
        }
    }
}
