
/* ==================
// WIDGET
// Text Photo Artist
================== */
.widget-textphotoartist {
    padding: 140px 0;

    .header {
        margin-bottom: 80px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: left;
        color: #969cab;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            letter-spacing: 0;
            text-transform: none;
            text-align: left;
            color: #353535;
            margin: 0;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: left;
            color: #969cab;
        }
    }

    .line {
        width: 1px;
        height: 60px;
        background: #b5b5b5;
        position: absolute;
        top: 0;
    }

    .text {
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #454545;
        text-align: left;
    }

    .photo {
        display: block;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    .element-bt-arrow {
        margin: 40px auto 0 0;
    }
}

.widget-textphotoartist[data-scheme="scheme1"] {
    .photo1 {
        height: 750px;
    }

    .photo2 {
        height: 620px;
        margin-top: 40px;
    }

    .photo3 {
        height: 470px;
        margin-top: 40px;
    }

    .cl2 .text {
        padding-left: 50px;
    }
}

.widget-textphotoartist[data-scheme="scheme2"] {
    .photo1 {
        height: 610px;
        margin-top: 60px;
    }

    .photo2 {
        height: 800px;
    }

    .photo3 {
        height: 350px;
        margin-top: 40px;
    }

    .cl3 .element-bt-arrow,
    .cl3 .text {
        padding-left: 50px;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-textphotoartist {
        padding: 80px 0;

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .text {
            font-size: 16px;
            line-height: 30px;
        }

        .cl2 .text {
            padding-left: 30px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-textphotoartist {
        padding: 40px 0;

        .line {
            display: none;
        }

        .header {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: center;
            margin-bottom: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }

        .photo {
            background-attachment: initial;
        }

        .element-bt-arrow {
            margin: 20px auto 0;
        }
    }

    .widget-textphotoartist[data-scheme="scheme1"] {
        .cl2 .text {
            padding: 0;
        }

        .photo1 {
            height: 200px;
            margin-bottom: 30px;
        }

        .photo2,
        .photo3 {
            display: none;
        }
    }

    .widget-textphotoartist[data-scheme="scheme2"] {
        .cl3 .element-bt-arrow,
        .cl3 .text {
            padding: 0;
        }

        .photo1 {
            height: 200px;
            margin: 0 0 30px;
        }

        .photo2,
        .photo3 {
            display: none;
        }
    }
}
