/* ==================
// WIDGET
// Map
================== */
.widget-map {
    background: #fff;
    overflow: hidden;

    #map {
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
    }

    .info {
        font-size: 14px;
        line-height: 26px;
        color: #353535;
        padding: 120px 0;

        p {
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 40px;
        }

        .logo {
            display: block;
            margin: 0 auto;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-map {
        #map {
            position: absolute !important;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-map {
         #map {
            width: 100%;
            height: 200px;
            position: relative !important;
            top: 0;
            left: 0;
        }
        .info {
            padding: 40px 0;
            font-size: 12px;
            text-align: center;

            .logo {
                margin: 0 auto 20px;
            }
            p {
                font-size: 12px;
                line-height: 22px;
                margin-bottom: 20px;
            }
        }

        .element-bt-arrow {
            margin: 20px auto 0;
        }
    }
}
