
/* ==================
// WIDGET
// headerlinks
================== */
.widget-headerlinks {
    display: inline-block;
    border-left: 1px solid #3a455c;
    border-right: 1px solid #3a455c;
    margin-left: -1px;
    opacity: 1;
    @include transition(opacity, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

    a {
        display: block;
        height: 48px;
        line-height: 48px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        color: #9fa9c0;
        position: relative;
        padding: 0 30px;
        @include transition(background, 0.8s, cubic-bezier(.12, .49, 0, 1), 0s);

        img {
            margin-right: 10px;
            -webkit-filter: grayscale(100%) brightness(80%) sepia(70%) hue-rotate(-190deg) saturate(250%) contrast(0.8);
            filter: grayscale(100%) brightness(80%) sepia(70%) hue-rotate(-190deg) saturate(250%) contrast(0.8);
            @include transition(all, 0.8s, cubic-bezier(.12, .49, 0, 1), 0s);
        }
    }

    a:hover {
        background: #2a303b;

        img {
            -webkit-filter: none;
            filter: none;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-headerlinks {
        a {
            font-size: 11px;
            padding: 0 15px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
}
