/* ==================
// WIDGET
// Bigbutton
================== */
.widget-bigbutton {
    .boxs {
        display: flex;
        position: relative;
        z-index: 1;

        .box {
            width: 33.333%;
            padding: 5vw;
            border-right: 1px solid rgba(255,255,255,.1);
            background: #232d42;
            position: relative;
            overflow: hidden;

            .background {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: .2;
                @include transform(scale(1), null);
                @include transition2(all, 10s, cubic-bezier(.12, .49, 0, 1), 0s, opacity, 2s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .title {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 42px;
                line-height: 52px;
                letter-spacing: 0;
                text-transform: none;
                text-align: left;
                color: #ffffff;
                margin: 0;
                position: relative;

                @include transition(margin-top, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .subtitle {
                font-weight: bold;
                font-size: 13px;
                line-height: 22px;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: left;
                color: #969cab;
                position: relative;
            }

            .description {
                font-size: 16px;
                line-height: 25px;
                color: #969cab;
                text-align: left;
                position: relative;
                padding-left: 50px;
                margin-top: 50px;
                position: relative;

                .line {
                    width: 1px;
                    height: 60px;
                    background: rgba(255,255,255,.25);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .element-bt-arrow {
                margin-top: 40px;
            }
            .in {
                z-index: 1;
            }
            .in.after,
            .in.before {
                width: calc(100% - 10vw);
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translateX(-50%) translateY(-50%), null);
            }

            .in.before {
                opacity: 1;
                margin-top: 0px;
                @include transition(opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);

            }

            .in.after {
                opacity: 0;
                @include transition(opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .in.fake {
                opacity: 0;
            }
        }

        .box:hover {
            .background {
                opacity: .08;
                @include transform(scale(1.1), null);
            }

            .in.before {
                opacity: 0;
                margin-top: -30px;
                @include transition2(margin-top, .35s, cubic-bezier(.72, .31, .83, .53), 0s, opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .in.after {
                opacity: 1;
                @include transition(opacity, 3s, cubic-bezier(.12, .49, 0, 1), .25s);
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-bigbutton {
        .boxs .box {
            .title {
                font-size: 32px;
                line-height: 42px;
            }

            .description {
                font-size: 14px;
                line-height: 23px;
                padding-left: 25px;
                margin-top: 25px;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-bigbutton {
        .boxs {
            display: block;

            .box {
                display: block;
                width: 100%;
                padding: 40px;
                border-right: none;
                border-bottom: 1px solid rgba(255,255,255,.1);

                .title {
                    font-size: 22px;
                    line-height: 32px;
                }

                .subtitle {
                    margin-bottom: 30px;
                }

                .description {
                    font-size: 14px;
                    line-height: 23px;
                    padding-left: 25px;
                }

                .in.before {
                    opacity: 0;
                }

                .in.after {
                    opacity: 1;
                }
            }
        }
    }
}
