/* ==================
// WIDGET
// areaslist
================== */
.widget-areaslist {
    background: #fff;

    #areamap {
        height: 2031px;
        margin-bottom: 120px;
        overflow: hidden;
        position: relative;

        .box {
            background: rgba(255, 255, 255, 0.8);
            position: relative;
            z-index: 1;
            margin-top: 300px;
            padding: 4% 6%;

            .header {
                margin-bottom: 60px;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 5px;
                text-transform: uppercase;
                text-align: left;
                color: #969cab;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Playfair Display';
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 92px;
                    text-align: left;
                    letter-spacing: 0;
                    text-transform: none;
                    color: #353535;
                    margin: 0;
                }

                p {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #969cab;
                }
            }

            .line {
                width: 1px;
                height: 60px;
                background: #b5b5b5;
                position: absolute;
                top: 0;
                left: 0;
            }

            .text1 {
                font-weight: normal;
                font-size: 18px;
                line-height: 36px;
                color: #454545;
                text-align: left;
                padding: 0 6% 0 50px;
                margin-bottom: 50px;
                position: relative;
            }

            .text2 {
                font-family: 'Kalam';
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                color: #353535;
                cursor: pointer;
                @include transition(opacity, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

                svg {
                    display: block;
                    margin: 30px auto 0;
                    position: relative;
                    top: 0;
                    -webkit-animation: svgArrowAnim 1s cubic-bezier(.12, .49, 0, 1) 0.2s infinite;
                    animation: svgArrowAnim 1s cubic-bezier(.12, .49, 0, 1) 0.2s infinite;

                    * {
                        stroke: #9ea6b5;
                        @include transition(stroke, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }
                @-webkit-keyframes svgArrowAnim {
                    0% {
                        top: 0;
                        opacity: 0.6;
                    }

                    80%,
                    99.999% {
                        top: 20px;
                        opacity: 1;
                    }

                    100% {
                        top: 0;
                        opacity: 1;
                    }
                }
                @keyframes svgArrowAnim {
                    0% {
                        top: 0;
                        opacity: 0.6;
                    }

                    80%,
                    99.999% {
                        top: 20px;
                        opacity: 1;
                    }

                    100% {
                        top: 0;
                        opacity: 0.6;
                    }
                }
            }

            .text2:hover {
                color: #000000;

                svg {
                    top: 10px;

                    * {
                        stroke: #6b7280;
                    }
                }
            }
        }

        .map {
            width: 1920px;
            height: 2031px;
            position: absolute;
            top: 0;
            left: 50%;
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            background-image: url('img/map.jpg?2');
            background-size: contain;
            background-position: top center;
            z-index: 0;

            .areamap,
            .areamap_static {
                width: 1920px;
                height: 452px;
                position: absolute;
                top: 60.6%;
                left: 0;
                z-index: 1;
                -ms-transform-origin: top left;
                -webkit-transform-origin: top left;
                -moz-transform-origin: top left;
                -o-transform-origin: top left;
                transform-origin: top left;
                opacity: 1;
            }

            .areamap_static {
                path,
                polygon {
                    opacity: 0.35;
                    @include transition(opacity, .75s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                path:not(.off),
                polygon:not(.off) {
                    cursor: pointer;
                }

                path:not(.off).hover,
                path:not(.off):hover,
                polygon:not(.off).hover,
                polygon:not(.off):hover {
                    opacity: 1;
                }

                text {
                    pointer-events: none;
                    font-family: 'Playfair Display';
                    font-size: 18px;
                }
            }
        }

        .popup {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: #fff;
            pointer-events: none;

            .in {
                width: 600px;

                .line {
                    width: 1px;
                    height: calc(100% - 40px);
                    background: #e4e8f3;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                .pastePhoto {
                    text-align: center;
                }

                .pasteHeader {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin: 20px 0;

                    .title1 {
                        display: none;
                    }

                    .title2 {
                        width: 50%;
                        font-family: 'Playfair Display';
                        font-weight: bold;
                        font-size: 42px;
                        line-height: 42px;
                    }

                    .status {
                        font-size: 14px;
                        margin-top: 15px;

                        .point {
                            display: inline-block;
                            margin-right: 5px;
                            width: 10px;
                            height: 10px;
                            @include border-radius(99px, 99px, 99px, 99px);
                            background: #000000;
                        }
                    }
                }

                .pasteData {
                    font-size: 14px;
                    line-height: 26px;
                    margin-bottom: 20px;

                    sup {
                        line-height: 18px !important;
                    }

                    div {
                        display: flex;
                        flex-direction: row;

                        div {
                            width: 50%;
                            color: #969cab;

                            span.old {
                                color: #969cab;
                                text-decoration: line-through;
                                padding-right: 5px;
                            }

                            span.new {
                                font-size: 17px;
                                color: #253862;
                                padding-right: 5px;
                            }
                        }

                        div+div {
                            width: 50%;
                            color: #353535;
                        }
                    }
                }

                .pasteBts {
                    display: none;
                    height: 40px;
                    margin: 20px 0;

                    .element-bt,
                    .element-bt2 {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        font-size: 11px;
                        letter-spacing: 0.5px;
                        margin: 0 5%;
                        width: 40%;
                        float: left;
                        overflow: hidden;
                    }

                    .element-bt {
                        border: 1px solid #bf9e66;
                    }
                }

                .pasteExtra {
                    position: absolute;
                    top: -6px;
                    right: -10px;
                    pointer-events: none;

                    .text {
                        width: 120px;
                        line-height: 30px;
                        font-size: 12px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #fff;
                        position: absolute;
                        top: 22px;
                        left: 39px;
                        @include transform(rotate(30deg), null);
                    }
                }
            }
        }

        .popup[data-status="free"] {
            .pasteHeader {
                .status,
                .title1,
                .title2 {
                    color: #079207;
                }

                .status .point {
                    background: #079207;
                }
            }
        }

        .popup[data-status="reservation"] {
            .pasteHeader {
                .status,
                .title1,
                .title2 {
                    color: #ffa302;
                }

                .status .point {
                    background: #ffa302;
                }
            }
        }

        .popup[data-status="sold"] {
            .pasteHeader {
                .status,
                .title1,
                .title2 {
                    color: #d32407;
                }

                .status .point {
                    background: #d32407;
                }
            }
        }

        .popup.open {
            display: block;
        }
    }

    #arealist {
        .header {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            text-align: left;
            letter-spacing: 0;
            text-transform: none;
            color: #353535;
            margin: 0;
        }

        .disclaimer {
            border-top: 1px solid #e2e3e6;
            border-bottom: 1px solid #e2e3e6;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: #454545;
            text-align: center;
            margin: 65px 0;
            padding: 15px 0;
        }

        .pages {
            .next,
            .prev {
                font-size: 14px;
                color: #bf9e66;
                text-transform: uppercase;
                cursor: pointer;
                @include transition(opacity, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

                .icon {
                    position: relative;
                    top: 2px;

                    path {
                        stroke: #bf9e66;
                    }

                    path.end {
                        opacity: 0;
                        @include transition(opacity, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s)
                    }
                }

                .text {
                    position: relative;
                    @include transition(left, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s)
                }
            }

            .prev {
                float: left;

                .text {
                    left: -10px;
                }
            }

            .next {
                float: right;

                .text {
                    left: 10px;
                }
            }

            .next:hover,
            .prev:hover {
                .icon {
                    path.end {
                        opacity: 1;
                    }
                }

                .text {
                    left: 0;
                }
            }

            .prev:hover {
                .text {
                    left: 5px;
                }
            }

            .next:hover {
                .text {
                    left: -5px;
                }
            }

            .next.off,
            .prev.off {
                pointer-events: none;
                cursor: default;
                opacity: 0.5;
            }

            .info {
                text-align: center;
                font-size: 17px;
            }

            .info_left {
                text-align: left;
                font-size: 17px;
                float: left;
                padding-right: 30px;
            }
        }

        .pages.top {
            width: 170px;
            padding: 10px 0;
            margin: 0 0 0 auto;

            .info {
                margin: 0 0 0 auto;
            }
        }

        .pages.bottom {
            padding: 30px 0;

            .info {
                margin: 0 auto;
            }
        }

        .sorts {
            text-align: center;
            margin: 40px 0;

            span {
                font-size: 16px;
                color: #969cab;
                margin: 0 20px;
            }

            a {
                font-size: 16px;
                color: #3d3f45;
                margin: 0 20px;
                cursor: pointer;
                @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

                svg {
                    position: relative;
                    top: 3px;
                    left: 8px;

                    * {
                        stroke: #bf9e66;
                        stroke-width: 1.5;
                        @include transition(opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }
            }

            a.active.up {
                svg .down {
                    opacity: 0;
                }
            }

            a.active.down {
                svg .up {
                    opacity: 0;
                }
            }

            a.active,
            a:hover {
                color: #bf9e66;
            }
        }

        .plot {
            border-top: 1px solid #e2e3e6;
            border-bottom: 1px solid #e2e3e6;
            margin-bottom: 15px;
            position: relative;

            .left,
            .right {
                padding: 40px;
                position: relative;
            }

            .left {
                .title1 {
                    font-size: 16px;
                }

                .title2 {
                    font-family: 'Playfair Display';
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 52px;
                }

                .status {
                    font-size: 14px;
                    margin-top: 15px;

                    .point {
                        display: inline-block;
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        @include border-radius(99px, 99px, 99px, 99px);
                        background: #000000;
                    }
                }

                .cl2,
                .cl3 {
                    min-height: 130px;
                    position: relative;
                }

                .photo {
                    width: calc(100% - 30px);
                    height: auto;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            .right {
                background: #f5f5f5;

                .data {
                    font-size: 14px;
                    line-height: 26px;

                    sup {
                        line-height: 18px !important;
                    }

                    div {
                        display: flex;
                        flex-direction: row;

                        div {
                            width: 50%;
                            color: #969cab;

                            span.old {
                                color: #969cab;
                                text-decoration: line-through;
                                padding-right: 5px;
                            }

                            span.new {
                                font-size: 17px;
                                color: #253862;
                                padding-right: 5px;
                            }
                        }

                        div+div {
                            width: 50%;
                            color: #353535;
                        }
                    }
                }

                .element-bt,
                .element-bt2 {
                    display: block;
                    max-width: 160px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    font-size: 11px;
                    letter-spacing: 0.5px;
                    margin: 15px auto;
                }

                .element-bt {
                    border: 1px solid #bf9e66;
                }
            }

            .extra {
                position: absolute;
                top: -6px;
                right: -10px;
                pointer-events: none;

                .text {
                    width: 120px;
                    line-height: 30px;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    position: absolute;
                    top: 22px;
                    left: 39px;
                    @include transform(rotate(30deg), null);
                }
            }
        }

        .plot:nth-child(2n) {
            .right {
                background: #fbfbfb;
            }
        }

        .plot:not([data-active="1"]) {

            .left .cl2,
            .left .cl3,
            .right .data {
                opacity: 0.2;
            }
        }

        .plot[data-status="free"] {
            .left {
                .status,
                .title1,
                .title2 {
                    color: #079207;
                }

                .status .point {
                    background: #079207;
                }
            }
        }

        .plot[data-status="reservation"] {
            .left {
                .status,
                .title1,
                .title2 {
                    color: #ffa302;
                }

                .status .point {
                    background: #ffa302;
                }
            }
        }

        .plot[data-status="sold"] {
            .left {
                .status,
                .title1,
                .title2 {
                    color: #d32407;
                }

                .status .point {
                    background: #d32407;
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            width: 540px;
            max-height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%) !important;
            -webkit-transform: translateX(-50%) translateY(-50%) !important;
            -moz-transform: translateX(-50%) translateY(-50%) !important;
            -o-transform: translateX(-50%) translateY(-50%) !important;
            transform: translateX(-50%) translateY(-50%) !important;
            margin: 0;
        }

        .modal-body {
            padding: 50px;
        }
        @media (max-height: 850px) {
            .modal-body {
                padding: 25px;
            }
        }

        .close {
            position: absolute;
            top: 30px;
            right: 30px;
            opacity: 1;
            cursor: pointer;

            svg * {
                stroke: #bf9e66;
                stroke-width: 1;
            }
        }

        .close:active,
        .close:hover {
            svg * {
                stroke: #717171;
                stroke-width: 1;
            }

            svg path.line1 {
                stroke-dasharray: 58;
                stroke-dashoffset: 58;
                -webkit-animation: closeAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
                animation: closeAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
            }

            svg path.line2 {
                stroke-dasharray: 58;
                stroke-dashoffset: 58;
                -webkit-animation: closeAnim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
                animation: closeAnim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
            }
            @-webkit-keyframes closeAnim {
                from {
                    stroke-dashoffset: 58;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
            @keyframes closeAnim {
                from {
                    stroke-dashoffset: 58;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
        }

        .header {
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0;
            text-align: center;
            color: #353535;
            margin-bottom: 40px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 48px;
                line-height: 68px;
                text-align: center;
                text-transform: none;
                letter-spacing: 0;
                color: #353535;
                margin: 0;
            }

            p {
                font-weight: normal;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0;
                text-align: center;
                color: #353535;
            }
        }

        form {
            width: 350px;
            margin: 0 auto;

            label {
                width: 100%;
                margin-bottom: 10px;

                span {
                    display: block;
                    font-size: 10px;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: #858585;
                    margin: 0 0 5px;
                }

                span.hint {
                    opacity: 0;
                }

                span[role="alert"] {
                    color: #8c2020 !important;
                    margin: 5px 0 0;
                    text-align: left;
                }

                .wpcf7-list-item {
                    padding: 0 0 50px 40px;
                    margin: 0;

                    .wpcf7-list-item {
                        padding: 0;
                    }

                    span {
                        display: inline;
                        text-transform: none;
                        font-size: 12px;
                        color: #858585;
                    }
                }
            }

            label.edit {
                span.hint {
                    opacity: 1;
                }
            }

            label.focus {
                span {
                    color: #bf9e66;
                }
            }

            label.checked {
                .wpcf7-list-item::before {
                    background: #bf9e66;
                }
            }

            label.hide {
                height: 0;
                overflow: hidden;
                line-height: 0;
                margin: 0;
            }

            input[type="email"],
            input[type="text"],
            textarea {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                font-weight: normal;
                color: #353535;
                border: none;
                background: #f5f5f5;
                padding: 0 15px;
                @include box-sizing;
                @include transition(background, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            input[type="email"]:focus,
            input[type="text"]:focus,
            textarea:focus {
                color: #242e49;
                background: #fff;
                border: 1px solid #bf9e66;
            }

            input::-webkit-input-placeholder,
            textarea::-webkit-input-placeholder {
                font-size: 14px !important;
                color: #353535 !important;
            }

            input::-moz-placeholder,
            textarea::-moz-placeholder {
                font-size: 14px !important;
                color: #353535 !important;
            }

            input:-ms-input-placeholder,
            textarea:-ms-input-placeholder {
                font-size: 14px !important;
                color: #353535 !important;
            }

            input[type="checkbox"] {
                width: 0;
                height: 0;
                opacity: 0;
            }

            textarea {
                height: 120px;
            }

            input[type="submit"] {
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 13px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
                background: #bf9e66;
                border: none;
                padding: 0 50px;
                margin-top: 0;
                @include transition(background, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            input[type="submit"]:hover {
                background: #fff;
                border: 1px solid #bf9e66;
                color: #bf9e66;
            }

            .wpcf7-list-item::before {
                content: "\00a0";
                width: 15px;
                height: 15px;
                border: 1px solid #bf9e66;
                background: transparent;
                position: absolute;
                top: 0;
                left: 0;
                @include box-sizing;
            }

            .ajax-loader {
                display: none;
                width: 30px !important;
                height: 30px !important;
                background: url('img/loader_white.gif') center center no-repeat !important;
                margin: 20px auto 0 !important;
            }

            .ajax-loader.is-active {
                display: block;
            }

            div.wpcf7-acceptance-missing,
            div.wpcf7-validation-errors {
                border: none;
                color: #8c2020 !important;
                font-size: 10px;
                font-weight: normal;
                text-transform: uppercase;
                padding: 0;
                margin: 30px 0 0;
            }

            div.wpcf7-mail-sent-ok {
                border: 2px solid #bf9e65;
                color: #bf9e65;
            }

            span.wpcf7-list-item-label::after,
            span.wpcf7-list-item-label::before {
                display: none;
                content: ".";
                width: 0;
                height: 0;
                overflow: hidden;
            }

            .wpcf7-list-item span {
                max-width: 370px;
                position: absolute;
            }
        }
    }
}

body.edge .widget-areaslist {
    .modal {
        .close:active svg path,
        .close:hover svg path {
            stroke-dasharray: 58;
            stroke-dashoffset: 0;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }
}
/* ================== */
/* MAX width < 1200 style */
/* ================== */
@media (max-width: 1200px) {
    px .widget-areaslist {
        #areamap {
            height: 1691px;

            .map {
                width: 1600px;
                height: 1691px;

                .areamap,
                .areamap_static {
                    @include transform(scale(0.835), null)
                }
            }
        }
    }
}
/* ================== */
/* MAX width < 1000 style */
/* ================== */
@media (max-width: 1000px) {
    .widget-areaslist {
        #areamap {
            height: 1480px;

            .map {
                width: 1400px;
                height: 1480px;

                .areamap,
                .areamap_static {
                    @include transform(scale(0.729), null)
                }
            }
        }
    }
}
/* ================== */
/* MAX width < 800 style */
/* ================== */
@media (max-width: 800px) {
    .widget-areaslist {
        #areamap {
            height: 1268px;

            .map {
                width: 1200px;
                height: 1268px;

                .areamap,
                .areamap_static {
                    @include transform(scale(0.625), null)
                }
            }
        }
    }
}
/* ================== */
/* MAX width < 600 style */
/* ================== */
@media (max-width: 600px) {
    .widget-areaslist {
        #areamap {
            height: 889px;

            .map {
                width: 850px;
                height: 889px;
                margin-left: -80px;

                .areamap,
                .areamap_static {
                    @include transform(scale(0.442), null)
                }
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-areaslist {
        #areamap {
            margin-bottom: 50px;

            .box {
                background: rgba(255, 255, 255, 0.8);
                position: relative;
                z-index: 1;
                margin-top: 150px;

                .header {
                    font-size: 15px;
                    line-height: 15px;

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: 52px;
                        line-height: 72px;
                    }

                    p {
                        font-size: 15px;
                        line-height: 15px;
                    }
                }

                .text1,
                .text2 {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-areaslist {
        #areamap {
            .box {
                margin-top: 80px;

                .header {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 3px;
                    margin-bottom: 30px;

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: 26px;
                        line-height: 30px;
                        text-align: center;
                        margin-bottom: 10px;
                        letter-spacing: 0;
                    }

                    p {
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                        letter-spacing: 3px;
                    }
                }

                .line {
                    display: none;
                }

                .text1 {
                    padding-left: 0;
                }

                .text1,
                .text2 {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }

                .text2 svg {
                    top: -10px !important;
                    -webkit-animation: none !important;
                    animation: none !important;
                }
            }

            .map {
                .areamap_static path,
                .areamap_static polygon {
                    opacity: 0.35 !important;
                }
            }

            .popup {
                display: none !important;
            }
        }

        #arealist {
            .header {
                font-size: 28px;
                line-height: 28px;
            }

            .disclaimer {
                font-size: 14px;
                line-height: 26px;
                margin: 30px 0;
                padding: 10px 0;
            }

            .sorts {
                span {
                    display: block;
                    margin-bottom: 10px;
                }

                a {
                    display: inline-block;
                    padding: 5px 0;
                }
            }

            .plot {
                .left,
                .right {
                    padding: 20px;
                }

                .left {
                    .title1 {
                        font-size: 14px;
                    }

                    .title2 {
                        font-size: 42px;
                        line-height: 42px;
                    }
                }

                .right .data {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .pages {
                .info,
                .info_left {
                    font-size: 15px;
                }

                .info_left {
                    padding-right: 20px;
                }

                .widget-areaslist .pages .next,
                .widget-areaslist .pages .prev {
                    font-size: 13px;
                }
            }
        }

        .modal {
            .modal-dialog {
                width: calc(100% - 50px);
            }

            .close {
                top: 10px;
                right: 15px;
            }

            .header {
                margin-bottom: 0;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 28px;
                    line-height: 38px;
                }

                p {
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            form {
                width: 100%;
            }
        }
    }
}
/* ================== */
/* MAX height < 800 style */
/* ================== */
@media (max-height: 800px) {
    .widget-areaslist {
        .modal {
            .header {
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 20px;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 38px;
                    line-height: 58px;
                }
            }

            .widget-areaslist .modal form input[type="email"],
            .widget-areaslist .modal form input[type="text"],
            .widget-areaslist .modal form textarea {
                height: 30px;
                line-height: 30px;
            }
        }
    }
}
