/* ==================
// WIDGET
// areaslist
================== */
.widget-404 {
    height: calc(100vh - 190px);

    .inside {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%) rotate(180deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(180deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(180deg);
        transform: translateX(-50%) translateY(-50%) rotate(180deg);
        margin-top: -100px;
        @-webkit-keyframes rotate404Anim {
            from {
                -ms-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                transform: translateX(-50%) translateY(-50%) rotate(180deg);
            }

            to {
                -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }
        @keyframes rotate404Anim {
            from {
                -ms-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(180deg);
                transform: translateX(-50%) translateY(-50%) rotate(180deg);
            }

            to {
                -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }

        .header {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            color: #969cab;
            margin-bottom: 40px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 72px;
                line-height: 92px;
                text-align: center;
                color: #353535;
                margin: 0;
                text-transform: none;
                letter-spacing: 0;
            }

            p {
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 5px;
                text-transform: uppercase;
                text-align: center;
                color: #969cab;
            }
        }

        .element-bt2 {
            margin: 0 auto;
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background: url('img/404.jpg') bottom center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.loaded .widget-404 .inside {
    -webkit-animation: rotate404Anim 1.5s cubic-bezier(0.12, 0.49, 0.27, 1.35) both 1s;
    animation: rotate404Anim 1.5s cubic-bezier(0.12, 0.49, 0.27, 1.35) both 1s;
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-404 {
        .inside {
            .header {
                margin-bottom: 20px;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 26px;
                    line-height: 30px;
                }
            }
            .element-bt2 {
                font-size: 12px;
                letter-spacing: 0px;
                padding: 0 15px;
            }
        }
    }
}
