/* ==================
// WIDGET
// Section link
================== */
.widget-section-link {
    height: auto;
    padding-top: 45%;

    .container {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .box {
        width: 58.33333333%;
        position: absolute;
        top: 50%;
        right: 0;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .header {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
        color: #969cab;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: center;
            letter-spacing: 0;
            text-transform: none;
            color: #fff;
            margin: 0 0 10px;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            color: #969cab;
        }
    }

    .element-bt {
        margin: 0 auto;
    }

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-section-link {
        .box {
            width: 70%;
        }

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-section-link {
        height: 300px;
        padding-top: 0;

        .container {
            width: 100%;
        }

        .box {
            width: 100%;
        }

        .header {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: center;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .background::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: -moz-linear-gradient(top, rgba(39,52,77,0.7) 0%, rgba(39,52,77,0.7) 29%, rgba(39,52,77,0.2) 100%);
            background: -webkit-linear-gradient(top, rgba(39,52,77,0.7) 0%,rgba(39,52,77,0.7) 29%,rgba(39,52,77,0.2) 100%);
            background: linear-gradient(to bottom, rgba(39,52,77,0.7) 0%,rgba(39,52,77,0.7) 29%,rgba(39,52,77,0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#b327344d', endColorstr='#3327344d',GradientType=0 );
        }
    }
}
