/* ==================
// WIDGET
// widget-invest-button
================== */
.widget-invest-button {
    .boxs {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        .arrow {
            position: absolute;
            top: 50%;
            margin-left: -30px;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0.1;
            z-index: 1;
        }

        .arrow1 {
            left: 25%;
        }

        .arrow2 {
            left: 50%;
        }

        .arrow3 {
            left: 75%;
        }

        .box {
            width: 25%;
            height: auto;
            padding-top: 25%;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            background: #232d42;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .background {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: 0.1;
                @include transform(scale(1), null);
                @include transition2(all, 10s, cubic-bezier(.12, .49, 0, 1), 0s, opacity, 2s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .in {
                border-left: 1px solid #bf9e66;
                border-right: 1px solid #bf9e66;
                height: 40px;
                width: calc(100% - 60px);
                left: 30px;
                bottom: 30px;
                position: absolute;
                z-index: 1;

                .border {
                    border-top: 1px solid #bf9e66;
                    position: absolute;

                    &.border-top-left {
                        top: 0;
                        left: 0;
                    }

                    &.border-top-right {
                        top: 0;
                        right: 0;
                    }

                    &.border-bottom-left {
                        width: 50%;
                        bottom: 0;
                        left: 0;
                        @include transition(width, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }

                    &.border-bottom-right {
                        width: 50%;
                        bottom: 0;
                        right: 0;
                        @include transition(width, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }

                .text {
                    position: absolute;
                    top: -23px;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);

                    .line1 {
                        font-family: 'Playfair Display';
                        font-weight: bold;
                        font-size: 1.8vw;
                        text-align: center;
                        letter-spacing: 0;
                        text-transform: none;
                        color: #ffffff;
                        margin: 0;
                        white-space: nowrap;
                    }

                    .line2 {
                        font-weight: bold;
                        font-size: 0.7vw;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-align: center;
                        color: #969cab;
                        white-space: nowrap;
                    }
                }

                .see {
                    font-size: 16px;
                    color: #bf9e66;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 300;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    opacity: 0;
                    @include transition(opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                }
            }

            .number {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 350px;
                line-height: 350px;
                text-align: center;
                letter-spacing: 0;
                text-transform: none;
                color: rgba(255,255,255,.1);
                position: absolute;
                bottom: 2vw;
                left: 50%;
                -ms-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                @include transition(color, 2s, cubic-bezier(.12, .49, 0, 1), 0s);
            }
        }

        .box1 {
            .in {
                height: calc(30% - 30px);
            }

            .number {
                font-size: 20vw;
                line-height: 20vw;
            }
        }

        .box2 {
            .in {
                height: calc(40% - 30px);
            }

            .number {
                font-size: 21.66vw;
                line-height: 21.66vw;
            }
        }

        .box3 {
            .in {
                height: calc(50% - 30px);
            }

            .number {
                font-size: 23.332vw;
                line-height: 23.332vw;
                bottom: 5vw;
            }
        }

        .box4 {
            .in {
                height: calc(60% - 30px);

                .text {
                    top: -40px;

                    .line1 {
                        font-size: 3vw;
                    }
                }
            }

            .number {
                font-size: 25vw;
                line-height: 25vw;
                bottom: 5vw;
            }
        }

        .box:hover {
            .background {
                opacity: 0.2;
                @include transform(scale(1.1), null);
            }

            .in {
                .see {
                    opacity: 1;
                    @include transition(opacity, 2s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                .border {
                    &.border-bottom-left {
                        width: calc(50% - 40px);
                        bottom: 0;
                        left: 0;
                    }

                    &.border-bottom-right {
                        width: calc(50% - 40px);
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .number {
                color: rgba(191,158,102,.3);
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-invest-button {}
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-invest-button {
        .boxs {
            .arrow {
                display: none;
            }

            .box {
                width: 50%;
                padding-top: 50%;

                .in {
                    width: calc(100% - 20px);
                    height: 40% !important;
                    left: 10px;
                    bottom: 10px;

                    .text {
                        top: -20px !important;
                        .line1 {
                            font-size: 4.5vw;
                        }

                        .line2 {
                            font-size: 2.7vw;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }
}
