/* ==================
// WIDGET
// widget-invest-step
================== */
.widget-invest-step {
    padding: 140px 0;
    position: relative;

    .arrow-section {
        position: absolute;
        bottom: -200px;
        left: 50%;
        margin-left: -20px;
        z-index: 1;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-size: cover;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .header {
        width: 70%;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #454545;
        text-align: center;
        margin: 0 auto 80px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: center;
            letter-spacing: 0;
            text-transform: none;
            color: #353535;
            margin: 0 0 50px;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
            color: #454545;
            text-align: center;
        }

        img {
            width: 140%;
            height: auto;
            left: -20%;
            position: relative;
            max-width: none;
            margin: 80px 0;
            padding: 0;
        }
    }

    .footer {
        margin: 80px auto;
    }

    .footer,
    .footer p {
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #454545;
        text-align: center;
    }

    .line {
        margin-bottom: 30px;

        .photo {
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }

        .photo.photo-small {
            height: 320px;
            margin-top: 55px;
        }

        .photo.photo-big {
            height: 375px;
        }

        .description {
            font-size: 16px;
            color: #454545;
            line-height: 24px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 24px;
                color: #353535;
                line-height: 34px;
                margin: 40px 0;
            }
        }

        .links {
            margin-top: 40px;

            .element-bt-arrow {
                display: block;
                text-align: left;
                margin-bottom: 15px;
            }
        }
    }

    .bt-top {
        margin: 20px auto 80px;
    }

    .bt-bottom {
        margin: 80px auto 0;
        border: 1px solid #bf9e66;
    }
}

.widget-invest-step.dark {
    .header {
        color: rgba(255,255,255,.5);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #ffffff;
        }

        p {
            color: rgba(255,255,255,.5);
        }
    }

    .footer {
        color: rgba(255,255,255,.5);

        p {
            color: rgba(255,255,255,.5);
        }
    }

    .line {
        .description {
            color: rgba(255,255,255,.5);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #ffffff;
            }

            p {
                color: rgba(255,255,255,.5);
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-invest-step {
        padding: 40px 0;

        .bt-bottom {
            margin: 20px auto 0;
        }

        .header {
            width: 100%;
            font-size: 16px;
            line-height: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 16px;
                line-height: 30px;
            }

            img {
                width: 100%;
                left: 0;
                margin: 40px 0;
            }
        }

        .bt-top {
            margin: 10px auto 30px;
        }

        .line {
            .description {
                font-size: 15px;
                line-height: 26px;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 18px;
                    line-height: 32px;
                    text-align: center;
                    margin: 10px 0;
                }

                p {
                    font-size: 15px;
                    line-height: 26px;
                }
            }

            .links .element-bt-arrow {
                margin-bottom: 35px;
                letter-spacing: 0.5px;
            }

        }

        .arrow-section {
            bottom: -90px;
            @include transform(scale(0.7), null)
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-invest-step {
        padding: 40px 0;

        .bt-bottom {
            margin: 20px auto 0;
        }

        .header {
            width: 100%;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin: 0 auto 20px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }

            img {
                width: 100%;
                left: 0;
                margin: 40px 0;
            }
        }

        .bt-top {
            margin: 10px auto 30px;
        }

        .line {
            .description {
                font-size: 14px;
                line-height: 22px;
                text-align: center;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    margin: 10px 0;
                }

                p {
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                }
            }

            .links .element-bt-arrow {
                margin-bottom: 35px;
                letter-spacing: 0.5px;
                text-align: center;
            }

            .photo {
                background-attachment: initial;
            }
        }

        .arrow-section {
            bottom: -90px;
            @include transform(scale(0.7), null)
        }
    }
}
