
/* ==================
// WIDGET
// Icons Slider
================== */
.widget-icons-slider {
    padding: 100px 0;

    .header {
        margin-bottom: 80px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
        color: #969cab;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: center;
            text-transform: none;
            letter-spacing: 0;
            color: #fff;
            margin: 0;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            color: #969cab;
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .icons {
        .icon {
            width: 33.333%;
            float: left;
            margin-bottom: 70px;

            .picture {
                width: 100%;
                height: 60px;
                margin-bottom: 20px;
                position: relative;

                img,
                svg {
                    display: block;
                    max-height: 110px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                svg {
                    width: 100%;
                    height: 80%;
                }
            }

            .title {
                width: 35%;
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                line-height: 22px;
                color: #c2c7d5;
                margin: 0 auto 5px;
            }

            .desc {
                width: 70%;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                line-height: 20px;
                color: #9da4b9;
                margin: 0 auto;
            }
        }

        .slick-next,
        .slick-prev {
            display: none !important;
        }

        .slick-dots {
            li button {
                width: 8px;
                height: 8px;
                @include border-radius(99px,99px,99px,99px);
                @include box-sizing;
                border: 1px solid #9ca5be;
            }

            li.slick-active button {
                background: #9ca5be;
            }

            li button:before {
                display: none !important;
            }
        }

        .clear {
            clear: both;
        }
    }
}

/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-icons-slider {
        padding: 80px 0;

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .icons .icon .title {
            width: 60%;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-icons-slider {
        padding: 40px 0;

        .header {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: center;
            margin-bottom: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .icons {
            .icon {
                width: 50%;
                margin-bottom: 20px;

                .desc,
                .title {
                    width: 80%;
                }

                .title {
                    font-size: 14px;
                    line-height: 19px;
                }
            }

            .icon:nth-child(2n+3) {
                clear: both !important;
            }
        }
    }
}
