/* ==================
 WIDGET
 Footer2
================== */
.widget-footer2 {
    padding: 80px 0;

    .container {
        position: relative;
        z-index: 1;

        .text {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 22px;
                line-height: 22px;
                color: #fff;
                margin-bottom: 35px;
            }

            h1.blank,
            h2.blank,
            h3.blank,
            h4.blank,
            h5.blank,
            h6.blank {
                opacity: 0;
            }
        }

        .text,
        .text p {
            font-size: 14px;
            font-weight: 300;
            color: #c5c5c5;
        }

        .text p {
            margin-bottom: 20px;
        }

        .text b,
        .text strong {
            text-transform: uppercase;
        }

        .text a {
            color: #c5c5c5;
        }

        .text a:hover {
            color: #fff;
        }

        img {
            margin: 0 0 25px;
            padding: 0;
        }

        .links {
            a {
                display: block;
                text-transform: uppercase;
                color: #c5c5c5;
                margin-bottom: 10px;
            }

            a:hover {
                color: #bf9e66;
            }
        }

        .socials {
            margin-top: 30px;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: rgba(255,255,255,.1);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                @include border-radius(99px,99px,99px,99px);
                margin-right: 15px;
            }

            a:hover {
                background-color: rgba(255,255,255,.13);
            }

            a[class="facebook"] {
                background-image: url('img/social_fb.svg');
            }

            a[class="youtube"] {
                background-image: url('img/social_youtube.svg');
            }
        }

        hr {
            background: #222731;
            border: none;
            margin: 40px 0;
            width: 100%;
            height: 1px;
        }

        .text2 {
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: #797d86;
        }

        .text2 a {
            color: #bf9d65;
        }

        .text2 a:hover {
            color: #ffffff;
        }

        .text3 {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #afb2ba;
            margin-top: 30px;
        }

        .text3 a {
            color: #bf9d65;
        }

        .text3 a:hover {
            color: #ffffff;
        }
    }

    .background {
        background-color: #121925;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-footer2 {
        .container {
            .text,
            .text p {
                font-size: 13px;
            }

            .text h1,
            .text h2,
            .text h3,
            .text h4,
            .text h5,
            .text h6 {
                font-size: 19px;
                line-height: 19px;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-footer2 {
        padding: 45px 0;

        .col-block {
            margin-bottom: 40px;
        }

        .col-block:last-child {
            margin-bottom: 0;
        }

        .container {
            img {
                margin: 0 auto;
            }

            .text h1,
            .text h2,
            .text h3,
            .text h4,
            .text h5,
            .text h6 {
                text-align: center;
            }

            .text h1.blank,
            .text h2.blank,
            .text h3.blank,
            .text h4.blank,
            .text h5.blank,
            .text h6.blank {
                display: none;
            }

            .text,
            .text p {
                font-size: 12px;
                text-align: center;
            }

            .socials {
                text-align: center;
            }
        }
    }
}
