
/* ==================
// WIDGET
// Welcome4
================== */
.widget-welcome4 {
    padding: 140px 0;

    .container {
        position: relative;
        z-index: 1;

        .header {
            margin-bottom: 60px;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: left;
            color: #969cab;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 72px;
                line-height: 92px;
                text-align: left;
                letter-spacing: 0;
                text-transform: none;
                color: #353535;
                margin: 0;
            }

            p {
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 5px;
                text-transform: uppercase;
                text-align: left;
                color: #969cab;
            }
        }

        .line {
            width: 1px;
            height: 60px;
            background: #b5b5b5;
            position: absolute;
            top: 0;
        }

        .text {
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
            color: #454545;
            text-align: left;
        }

        .cl1 .text {
            padding-left: 50px;
        }

        .element-bt-arrow {
            margin: 40px auto 0 0;
        }

        .detail {
            position: absolute;
            top: 50%;
            right: 15px;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .detail-hide {
            opacity: 0;
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}


/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {

    .widget-welcome4 {
        padding: 80px 0;

        .container {
            .header {
                font-size: 15px;
                line-height: 15px;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 52px;
                    line-height: 72px;
                }

                p {
                    font-size: 15px;
                    line-height: 15px;
                }
            }

            .text {
                font-size: 16px;
                line-height: 30px;
            }
        }
    }

}


/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {

    .widget-welcome4 {
        padding: 40px 0;

        .container {
            .header {
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 3px;
                margin-bottom: 30px;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 26px;
                    line-height: 30px;
                    text-align: center;
                    margin-bottom: 10px;
                    letter-spacing: 0;
                }

                p {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 3px;
                }
            }

            .line {
                display: none;
            }

            .text {
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }

            .cl1 .text {
                padding-left: 0;
            }

            .element-bt-arrow {
                margin: 20px auto 0;
            }

            .detail {
                display: none;
            }

            .detail-hide {
                display: block;
                width: 80%;
                margin: 0 auto 40px;
                opacity: 1;
            }
        }
    }

}
