

/* ==================
// WIDGET
// Gallery
================== */
.widget-gallery {
    padding: 140px 0;

    .header {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
        color: #969cab;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: center;
            color: #353535;
            margin: 0;
            text-transform: none;
            letter-spacing: 0;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            color: #969cab;
        }
    }

    .gallery-filters {
        text-align: center;
        margin: 100px 0 50px;

        a {
            font-size: 14px;
            color: #bf9e66;
            @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            text-transform: uppercase;
            margin: 0 45px;
            cursor: pointer;
            position: relative;
        }

        a:hover {
            color: #515d75;
        }

        a.active {
            color: #242e49;
        }

        a::before {
            content: '';
            width: 20px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -10px;
            margin-top: 15px;
            background: #bf9e66;
            -webkit-transform: scale3d(0, 2, 1);
            transform: scale3d(0, 2, 1);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
            transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
        }

        a.active::before,
        a:hover::before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .gallery {
        width: 100%;
        position: relative;

        .gallery-item {
            width: calc(33.333% - 30px);
            height: auto;
            padding-top: calc(33.333% - 30px);
            margin: 15px;
            float: left;
            overflow: hidden;
            cursor: pointer;

            .background {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-size: cover;
                background-position: center center;
            }

            .hover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: rgba(35,45,65,.85);
                opacity: 0;
                @include transition(opacity, 1.5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .icon-play {
                width: 80px;
                height: 80px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translateX(-50%) translateY(-50%) scale(1);
                -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
                -moz-transform: translateX(-50%) translateY(-50%) scale(1);
                -o-transform: translateX(-50%) translateY(-50%) scale(1);
                transform: translateX(-50%) translateY(-50%) scale(1);
                z-index: 1;
                @include border-radius(99px,99px,99px,99px);
                @include transition(all, .35s, cubic-bezier(0.12, 0.49, 0.22, 1.49) , 0s);

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translateX(-50%) translateY(-50%);
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -moz-transform: translateX(-50%) translateY(-50%);
                    -o-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    margin-left: 2px;
                }
            }

            .icon-open {
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -o-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;
            }
        }

        .gallery-item:hover {
            .background {
                -webkit-filter: grayscale(100%) brightness(80%) sepia(70%) hue-rotate(160deg) saturate(250%) contrast(0.8);
                filter: grayscale(100%) brightness(80%) sepia(70%) hue-rotate(160deg) saturate(250%) contrast(0.8);
            }

            .hover {
                opacity: 1;
            }

            .icon-play {
                -ms-transform: translateX(-50%) translateY(-50%) scale(0);
                -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
                -moz-transform: translateX(-50%) translateY(-50%) scale(0);
                -o-transform: translateX(-50%) translateY(-50%) scale(0);
                transform: translateX(-50%) translateY(-50%) scale(0);
                @include transition(all, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .icon-open path.line1 {
                stroke-dasharray: 50;
                stroke-dashoffset: 50;
                -webkit-animation: icon-open_Anim 0.5s cubic-bezier(.12, .49, 0, 1) both;
                animation: icon-open_Anim 0.5s cubic-bezier(.12, .49, 0, 1) both;
            }

            .icon-open path.line2 {
                stroke-dasharray: 50;
                stroke-dashoffset: 50;
                -webkit-animation: icon-open_Anim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
                animation: icon-open_Anim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
            }
            @-webkit-keyframes icon-open_Anim {
                from {
                    stroke-width: 8;
                    stroke-dashoffset: 50;
                }

                to {
                    stroke-width: 1.5;
                    stroke-dashoffset: 0;
                }
            }
            @keyframes icon-open_Anim {
                from {
                    stroke-width: 8;
                    stroke-dashoffset: 50;
                }

                to {
                    stroke-width: 1.5;
                    stroke-dashoffset: 0;
                }
            }
        }
    }

    .lightbox {
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(29,33,43,.95);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        .x {
            position: absolute;
            top: 100px;
            right: 100px;
            z-index: 1;
            cursor: pointer;

            svg * {
                stroke-width: 1;
            }
        }

        .x:active,
        .x:hover {
            svg * {
                stroke: #fff;
                stroke-width: 1;
            }

            svg path.line1 {
                stroke-dasharray: 58;
                stroke-dashoffset: 58;
                -webkit-animation: xAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
                animation: xAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
            }

            svg path.line2 {
                stroke-dasharray: 58;
                stroke-dashoffset: 58;
                -webkit-animation: xAnim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
                animation: xAnim 0.5s cubic-bezier(.12, .49, 0, 1) 0.2s both;
            }
            @-webkit-keyframes xAnim {
                from {
                    stroke-dashoffset: 58;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
            @keyframes xAnim {
                from {
                    stroke-dashoffset: 58;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
        }

        .arrow {
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
        }

        .arrow:active,
        .arrow:hover {
            svg * {
                stroke: #fff;
                stroke-dasharray: 70;
                stroke-dashoffset: 70;
                -webkit-animation: arrowAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
                animation: arrowAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
            }
            @-webkit-keyframes arrowAnim {
                from {
                    stroke-dashoffset: 70;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
            @keyframes arrowAnim {
                from {
                    stroke-dashoffset: 70;
                    stroke-width: 5;
                }

                to {
                    stroke-dashoffset: 0;
                    stroke-width: 1;
                }
            }
        }

        .arrow.prev {
            left: 100px;
        }

        .arrow.next {
            right: 100px;
        }

        .loader {
            width: 30px;
            height: 30px;
            background: url('img/loader_blue.gif') center center no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            z-index: 0;
        }

        .wrap {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;

            iframe,
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -o-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                opacity: 0;
                @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            iframe {
                width: 500px;
                height: 200px;
            }

            .info {
                width: 100%;
                position: absolute;
                top: calc(100% + 40px);
                left: 50%;
                -ms-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                opacity: 0;

                .title {
                    font-size: 24px;
                    font-weight: 300;
                    color: #c6ccdd;
                    text-align: center;
                }

                .desc {
                    font-size: 18px;
                    font-weight: 300;
                    color: #c6ccdd;
                    text-align: center;
                }
            }
        }
    }

    .lightbox:not(.load) {
        .wrap {
            iframe,
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 1;
            }

            .info {
                opacity: 1;
                @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }
        }
    }

    .lightbox.open {
        display: block;
    }

    .disclaimer {
        font-size: 16px;
        line-height: 30px;
        color: #535762;
        margin-top: 50px;
        text-align: center;
    }
}

body.edge .widget-gallery {
    .gallery .gallery-item:hover .icon-open path {
        stroke-dasharray: 50;
        stroke-dashoffset: 0;
        -webkit-animation: none !important;
        animation: none !important;
    }

    .lightbox {
        .x:active svg path,
        .x:hover svg path {
            stroke-dasharray: 58;
            stroke-dashoffset: 0;
            -webkit-animation: none !important;
            animation: none !important;
        }

        .arrow:active svg *,
        .arrow:hover svg * {
            stroke-dasharray: 70;
            stroke-dashoffset: 0;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-gallery {
        padding: 80px 0;

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .lightbox {
            .x {
                top: 50px;
                right: 50px;
            }

            .arrow.prev {
                left: 50px;
            }

            .arrow.next {
                right: 50px;
            }
        }

        .gallery-filters {
            a {
                margin: 0 25px;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-gallery {
        padding: 40px 0;

        .header {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
            }
        }

        .lightbox {
            .x {
                top: 25px;
                right: 25px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .arrow {
                svg {
                    width: 18px;
                    height: 30px;
                }
            }

            .arrow.prev {
                left: 25px;
            }

            .arrow.next {
                right: 25px;
            }

            .wrap .info {
                width: calc(100% + 150px);

                .title {
                    font-size: 14px;
                    line-height: 20px;
                }

                .desc {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        .gallery-filters {
            margin: 50px 0 25px;

            a {
                display: inline-block;
                font-size: 13px;
                margin: 0 10px 10px;
            }

            a:last-child {
                margin: 0 10px;
            }
        }

        .gallery .gallery-item {
            width: calc(50% - 30px);
            height: auto;
            padding-top: calc(50% - 30px);
            margin: 15px;
            float: left;
        }

        .disclaimer {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
