/* ==================
// WIDGET
// Opinion
================== */
.widget-opinion {
    padding: 140px 0 100px;

    .cl1 {
        padding-right: 50px;
    }

    .header {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: left;
        color: #969cab;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: left;
            letter-spacing: 0;
            text-transform: none;
            color: #353535;
            margin: 0;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: left;
            color: #969cab;
        }
    }

    .line {
        width: 1px;
        height: 60px;
        background: #b5b5b5;
        position: absolute;
        top: 0;
    }

    .text {
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #454545;
        text-align: left;
        padding: 0 50px;
    }

    .opinions {
        padding-bottom: 50px;

        .opinion {
            position: relative;
            padding: 50px;
            @include box-sizing;
            margin-bottom: 50px;

            .opinion_text {
                font-weight: 300;
                font-size: 18px;
                line-height: 36px;
                font-style: italic;
                color: #656565;
                text-align: center;
                position: relative;

                .in {
                    position: relative;
                    z-index: 1;
                }
            }

            .opinion_text::before {
                display: block;
                content: "\00a0";
                width: 50px;
                height: 36px;
                background: url('img/quotation_marks_gray.jpg') center center no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .opinion_author {
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #454545;
                text-align: center;
            }

            .background {
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .triangle {
                width: 0;
                height: 0;
                border-top: 50px solid #fff;
                border-left: 50px solid transparent;
                position: absolute;
                bottom: -50px;
                right: 0;
            }
        }

        .slick-next,
        .slick-prev {
            display: none !important;
        }

        .slick-dots {
            li button {
                width: 8px;
                height: 8px;
                @include border-radius(99px,99px,99px,99px);
                @include box-sizing;
                border: 1px solid #cacaca;
            }

            li.slick-active button {
                background: #bf9e66;
                border: 1px solid #bf9e66;
            }

            li button:before {
                display: none !important;
            }
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-opinion {
        padding: 80px 0;

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .cl1 {
            padding-right: 0;
        }

        .text {
            padding: 0 25px 0 50px;
            margin-bottom: 60px;
        }

        .opinions {
            padding-bottom: 0;

            .opinion {
                padding: 35px;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-opinion {
        padding: 40px 0;

        .header {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: center;
            margin-bottom: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .cl1 {
            padding-right: 15px;
            margin-bottom: 40px;
        }

        .line {
            display: none;
        }

        .text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin-bottom: 0;
        }

        .opinions {
            padding-bottom: 0;

            .opinion {
                padding: 25px;

                .opinion_text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }

                .opinion_author {
                    font-size: 14px;
                }

                .triangle {
                    border-top: 30px solid #fff;
                    border-left: 30px solid transparent;
                    bottom: -30px;
                }
            }
        }
    }
}
