/* ==================
// WIDGET
// localization
================== */
.widget-localization {
    .icons {
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        .slider {
            .icon {
                width: 16.666%;
                float: left;

                .picture {
                    width: 100%;
                    height: 60px;
                    margin-bottom: 20px;
                    position: relative;

                    img,
                    svg {
                        display: block;
                        max-height: 110px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        -ms-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }

                    svg {
                        width: 100%;
                        height: 80%;
                    }
                }

                .title {
                    width: 70%;
                    font-size: 16px;
                    font-weight: normal;
                    text-align: center;
                    line-height: 22px;
                    color: #c2c7d5;
                    margin: 0 auto 5px;
                }

                .desc {
                    width: 70%;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 20px;
                    color: #9da4b9;
                    margin: 0 auto;
                }
            }

            .slick-next,
            .slick-prev {
                display: none !important;
            }

            .slick-dots {
                li button {
                    width: 8px;
                    height: 8px;
                    @include border-radius(99px,99px,99px,99px);
                    @include box-sizing;
                    border: 1px solid #9ca5be;
                }

                li.slick-active button {
                    background: #9ca5be;
                }

                li button:before {
                    display: none !important;
                }
            }

            .clear {
                clear: both;
            }
        }

        .background {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-color: #4f576d;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .maps {
        overflow: hidden;
        position: relative;
        .hint_mobile {
            display: none;
        }
        .areamaps {
            width: 1920px;
            height: 1099px;
            position: absolute;
            top: 0;
            left: 50%;
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: 0;
            background-image: url('img/localization_map_blank.jpg');
            background-size: contain;

            .anim {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                z-index: 2;

                svg {
                    width: 100%;
                    height: 100%;
                }

                .line path.dash {
                    stroke-dasharray: 8;
                    stroke-dashoffset: 0;
                    animation: dash 1s linear infinite;
                }
                @keyframes dash {
                    0% {
                        stroke-dashoffset: 0;
                    }

                    50% {
                        stroke-dashoffset: 8;
                    }

                    100% {
                        stroke-dashoffset: 16;
                    }
                }
            }

            .hotspots {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;

                .hotspot {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                    z-index: 2;

                    .icon {
                        width: 50px;
                        height: 50px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include border-radius(99px,99px,99px,99px);
                        @include box-sizing;
                        position: relative;
                        left: -25px;
                        top: -25px;
                        @include transition(all, .35s, cubic-bezier(0.12, 0.49, 0.22, 1.49) , 0s);
                        @include transform(scale(1), null);
                    }

                    .text {
                        width: 120px;
                        font-size: 15px;
                        text-align: center;
                        line-height: 18px;
                        text-transform: uppercase;
                        position: absolute;
                        top: 40px;
                        left: 50%;
                        -ms-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                        @include transition(margin, 0.35s, cubic-bezier(.12, .49, 0, 1), .15s);
                    }
                }

                .hotspot[data-id="1"] {
                    top: 54%;
                    left: 22.4%;

                    .icon {
                        background-image: url('img/localization_beach.svg');
                    }
                }

                .hotspot[data-id="2"] {
                    top: 67.7%;
                    left: 24.4%;

                    .icon {
                        background-image: url('img/localization_bike.svg');
                    }
                }

                .hotspot[data-id="3"] {
                    top: 64.5%;
                    left: 30.8%;

                    .icon {
                        background-image: url('img/localization_port.svg');
                    }

                    .text {
                        color: #867a70;
                    }
                }

                .hotspot[data-id="4"] {
                    top: 43.3%;
                    left: 38.2%;

                    .icon {
                        background-image: url('img/localization_port_fishing.svg');
                    }

                    .text {
                        color: #d29a75;
                    }
                }

                .hotspot[data-id="5"] {
                    top: 51.8%;
                    left: 54.7%;

                    .icon {
                        background-image: url('img/localization_boat.svg');
                    }
                }

                .hotspot[data-id="6"] {
                    top: 34.3%;
                    left: 64.2%;

                    .icon {
                        background-image: url('img/localization_port.svg');
                    }

                    .text {
                        color: #867a70;
                    }
                }

                .hotspot[data-id="7"] {
                    top: 19.2%;
                    left: 66.2%;

                    .icon {
                        background-image: url('img/localization_beach.svg');
                    }
                }

                .hotspot[data-id="8"] {
                    top: 34.2%;
                    left: 71.2%;

                    .icon {
                        background-image: url('img/localization_slip.svg');
                    }

                    .text {
                        color: #9b9b9b;
                    }
                }

                .hotspot[data-id="9"] {
                    top: 26.6%;
                    left: 73.7%;

                    .icon {
                        background-image: url('img/localization_fishery.svg');
                    }
                }

                .hotspot[data-id="10"] {
                    top: 19.8%;
                    left: 78.8%;

                    .icon {
                        background-image: url('img/localization_canal.svg');
                    }

                    .text {
                        color: #6c9ab1;
                    }
                }

                .hotspot[data-id="11"] {
                    top: 11.9%;
                    left: 81.7%;

                    .icon {
                        background-image: url('img/localization_bike.svg');
                    }
                }

                .hotspot[data-id="12"] {
                    top: 89.5%;
                    left: 83.6%;

                    .icon {
                        background-image: url('img/localization_port.svg');
                    }

                    .text {
                        color: #867a70;
                    }
                }

                .hotspot[data-id="mielno"] {
                    top: 32.2%;
                    left: 57%;

                    .icon {
                        background-image: url("img/localization_mielno.svg");
                        width: 160px;
                        height: 240px;
                        top: -210px;
                        left: -30px;
                        background-size: contain;
                        @include border-radius(0px,0px,0px,0px);
                        @include transform(scale(1), !important);
                    }

                    .area {
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                    }

                    .text {
                        color: #415182;
                        top: 50px;
                        left: 50%;
                        margin-left: -60px;
                    }
                }

                .hotspot:hover {
                    .icon {
                        @include transform(scale(1.3), null);
                    }

                    .text {
                        margin-top: 20px;
                    }
                }
            }
        }

        .areamaps_size {
            width: 1920px;
            height: 1099px;
        }

        .areamaps_static {
            position: relative;
            z-index: -1;
            opacity: 0;
        }
    }
}
/* ================== */
/* <1400 screen style */
/* ================== */
@media (max-width: 1400px) {
    .widget-localization {
        .maps {
            .areamaps {
                height: auto;
                width: 100%;
                padding-top: 57.2%;
                position: absolute;
                top: 0;
                left: 50%;
                -ms-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                z-index: 0;

                .hotspots {
                    .hotspot {
                        .icon {
                            width: 40px;
                            height: 40px;
                            left: -20px;
                            top: -20px;
                        }

                        .text {
                            font-size: 12px;
                            line-height: 16px;
                            top: 25px;
                        }
                    }

                    .hotspot:hover {
                        .text {
                            margin-top: 10px;
                        }
                    }

                    .hotspot[data-id="mielno"] {
                        .icon {
                            width: 100px;
                            height: 150px;
                            top: -130px;
                            left: -20px;
                        }

                        .text {
                            top: 40px;
                        }

                        .area {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            .areamaps_size {
                width: 100%;
                height: auto;
                padding-top: 57.2%;
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-localization {
        .icons {
            padding: 50px 0;
        }

        .maps {
            .areamaps {
                .hotspots {
                    .hotspot {
                        .icon {
                            width: 30px;
                            height: 30px;
                            left: -15px;
                            top: -15px;
                        }

                        .text {
                            font-size: 11px;
                            line-height: 15px;
                            top: 25px;
                        }
                    }

                    .hotspot[data-id="mielno"] {
                        .icon {
                            width: 70px;
                            height: 110px;
                            top: -100px;
                            left: -10px;
                        }

                        .text {
                            top: 40px;
                        }

                        .area {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            .areamaps_size {
                width: 100%;
                height: auto;
                padding-top: 57.2%;
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-localization {
        .icons {
            padding: 25px 0;

            .slider .icon {
                .title {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }

        .maps {

            .hint_mobile {
                display: none;
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0;
                color: #353535;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                -moz-transform: translateY(-50%) translateX(-50%);
                -o-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);

                z-index: 3;
                -webkit-animation: hint_mobileAnim 2s cubic-bezier(0.12, 0.49, 0.27, 1.35) infinite 0s;
                animation: hint_mobileAnim 2s cubic-bezier(0.12, 0.49, 0.27, 1.35) infinite 0s;
            }
            @-webkit-keyframes hint_mobileAnim {
                0% {
                    margin-left: 0;
                    opacity: 1;
                }

                80% {
                    margin-left: -30px;
                    opacity: 1;
                }

                99.999% {
                    margin-left: -30px;
                    opacity: 0;
                }

                100% {
                    margin-left: 0;
                    opacity: 0;
                }
            }
            @keyframes hint_mobileAnim {
                0% {
                    margin-left: 0;
                    opacity: 1;
                }

                80% {
                    margin-left: -30px;
                    opacity: 1;
                }

                99.999% {
                    margin-left: -30px;
                    opacity: 0;
                }

                100% {
                    margin-left: 0;
                    opacity: 0;
                }
            }

            .areamaps {
                background-image: url("img/localization_map.jpg");
                position: relative;

                .anim,
                .hotspots {
                    display: none;
                }
            }

            .areamaps_size {
                display: none;
            }
        }
    }
}
