

.widget-quotation {
    padding: 140px 0 100px;

    .quotation_marks {
        content: "\00a0";
        width: 100%;
        height: auto;
        padding-top: 71%;
        background: url('img/quotation_marks.png') center center no-repeat;
        background-size: contain;
    }

    .line {
        width: 1px;
        height: 80px;
        background: #b5b5b5;
        margin: 0 auto;
    }

    .text {
        font-weight: 300;
        font-style: italic;
        color: #656565;
        text-align: left;
    }

    .photo {
        width: 100%;
        height: auto;
        background-size: cover;
        padding-top: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .name {
        font-size: 17px;
        color: #535762;
        line-height: 22px;
        text-align: right;
    }

    .position {
        font-size: 12px;
        color: #8e94a5;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-quotation {
        padding: 80px 0;

        .text {
            font-size: 18px;
            line-height: 36px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-quotation {
        padding: 40px 0;

        .text {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        .name {
            font-size: 14px;
            line-height: 20px;
        }

        .position {
            font-size: 10px;
        }
    }
}
