/* ==================
// WIDGET
// Icons
================== */
.widget-icons {
    padding: 100px 0;
    background-size: cover;

    .header {
        margin-bottom: 80px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 72px;
            line-height: 92px;
            text-align: center;
            color: #fff;
            margin: 0;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            color: #969cab;
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .icons {
        .icon {
            float: left;
            margin-bottom: 70px;

            .picture {
                width: 100%;
                height: 60px;
                margin-bottom: 20px;
                position: relative;

                img,
                svg {
                    display: block;
                    max-height: 110px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                svg {
                    width: 100%;
                    height: 80%;
                }
            }

            .title {
                width: 35%;
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                line-height: 22px;
                color: #c2c7d5;
                margin: 0 auto;
            }
        }

        .clear {
            clear: both;
        }
    }

    .extra_text {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        line-height: 22px;
        color: #c2c7d5;
    }

    .element-bt-arrow {
        margin: 20px auto 0;
    }
}

.widget-icons[data-column="2"] .icons .icon {
    width: 50%;
}

.widget-icons[data-column="3"] .icons .icon {
    width: 33.333%;
}

.widget-icons[data-column="4"] .icons .icon {
    width: 25%;
}

.widget-icons[data-column="5"] .icons .icon {
    width: 20%;
}

.widget-icons[data-column="6"] .icons .icon {
    width: 16.666%;
}
/* ================== */
/* SM MIN screen style */
/* ================== */
@media (min-width: 767px) {
    .widget-icons .icons .icon:nth-child(6n) {
        clear: both !important;
        float: left;
    }

    .widget-icons-slider .icons .icon:nth-child(4n) {
        clear: both !important;
        float: left;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-icons {
        padding: 80px 0;

        .header {
            font-size: 15px;
            line-height: 15px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 52px;
                line-height: 72px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
            }
        }

        .icons .icon .title {
            width: 60%;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-icons {
        padding: 40px 0;

        .header {
            margin-bottom: 40px;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 3px;
            text-align: center;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .icons {
            width: 70%;
            margin: 0 auto;

            .icon {
                width: 50% !important;
                margin-bottom: 30px;
                float: left;

                .title {
                    font-size: 14px;
                    width: 60%;
                }
            }

            .icon:nth-child(2n+3) {
                clear: both !important;
            }

            .clear:not(.end) {
                clear: none;
            }
        }

        .extra_text {
            font-size: 16px;
        }
    }
}
