/* Search form */
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #fff !important;
}