$color__orange: #FFA640;
@mixin border-radius($r1, $r2, $r3, $r4) {
    -webkit-border-top-left-radius: $r1;
    -webkit-border-top-right-radius: $r2;
    -webkit-border-bottom-right-radius: $r4;
    -webkit-border-bottom-left-radius: $r3;
    -moz-border-radius-topleft: $r1;
    -moz-border-radius-topright: $r2;
    -moz-border-radius-bottomright: $r4;
    -moz-border-radius-bottomleft: $r3;
    border-top-left-radius: $r1;
    border-top-right-radius: $r2;
    border-bottom-right-radius: $r4;
    border-bottom-left-radius: $r3;
}
@mixin box-sizing() {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@mixin transition($type, $time1, $bezier, $time2) {
    -webkit-transition: $type $time1 $bezier $time2;
    -moz-transition: $type $time1 $bezier $time2;
    -o-transition: $type $time1 $bezier $time2;
    transition: $type $time1 $bezier $time2;
}
@mixin transition2($type, $time1, $bezier, $time2, $typeB, $timeB1, $bezierB, $timeB2) {
    -webkit-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    -moz-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    -o-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
}
@mixin transition-delay($time) {
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}
@mixin transform($method, $extra) {
    -webkit-transform: $method $extra;
    -moz-transform: $method $extra;
    transform: $method $extra;
}
/* ==================

 Playfair Display

================== */
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/hinted-PlayfairDisplay-Bold.eot');
    src: url('fonts/hinted-PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/hinted-PlayfairDisplay-Bold.woff2') format('woff2'), url('fonts/hinted-PlayfairDisplay-Bold.woff') format('woff'), url('fonts/hinted-PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* ==================

Fontawesome

================== */
@font-face {
    font-family: 'sow-fontawesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none;
}

::-moz-selection {
    background: transparent;
}

::selection {
    background: transparent;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding-top: 50px;
    background: #f5f5f5;
}

.text95 {
    font-size: 95px;
}

.text70 {
    font-size: 70px;
}

.text60 {
    font-size: 60px;
}

.text20 {
    font-size: 20px;
    line-height: 40px;
}

.center-block {
    float: none;
}

header {
    .row_seo {
        height: 50px;
        background: #121825;
        border-bottom: 2px solid #bd9b64;
        @include box-sizing;
        font-size: 0;
        text-align: center;
        overflow: hidden;
    }

    .row_nav {
        width: 100%;
        height: auto;
        margin: 0;

        .toggleMenu {
            display: none;
        }

        .links {
            text-align: center;
            position: relative;

            .logo {
                display: inline-block;
                margin: 0;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            a {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                color: #454545;
                position: relative;
                margin: 0 35px;
                -webkit-transition: background 0.3s, color 0.3s;
                transition: background 0.3s, color 0.3s;
            }

            a.active {
                color: #bf9e66;
            }

            a:not(.logo)::before {
                content: '';
                width: 20px;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -10px;
                margin-top: 15px;
                background: #bf9e66;
                -webkit-transform: scale3d(0, 2, 1);
                transform: scale3d(0, 2, 1);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
                transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
            }

            a:not(.logo):hover::before {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            .logo.mobile {
                display: none;
            }
        }
    }
}

body:not(.scrolled) {
    header .row_seo {
        .widget-headerlinks {
            opacity: 1;
        }
        @for $i from 0 through 10 {
            .widget-headerlinks:nth-child(#{$i}) {
                @include transition-delay(#{$i/10+0.15}s);
            }
        }
    }
}

body.scrolled header {
    .row_seo {
        .widget-headerlinks {
            opacity: 0;
        }
    }

    .row_nav {
        height: 80px;
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);

        .links {
            text-align: center;
            line-height: 80px;
            height: 80px;

            .logo {
                width: 48px;
                height: 48px;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -o-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;
                margin: 0;
            }

            .logo.big {
                display: none;
            }

            .logo.small {
                display: inline-block;
            }

            .left {
                position: absolute;
                left: 0;
                width: 50%;
                display: block;
                text-align: right;
                padding-right: 35px;
            }

            .right {
                position: absolute;
                left: 50%;
                width: 50%;
                display: block;
                text-align: left;
                padding-left: 35px;
            }
        }
        -webkit-animation: headerAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
        animation: headerAnim 0.5s cubic-bezier(.12, .49, 0, 1) both;
    }
    @-webkit-keyframes headerAnim {
        from {
            top: -80px;
        }

        to {
            top: 0;
        }
    }
    @keyframes headerAnim {
        from {
            top: -80px;
        }

        to {
            top: 0;
        }
    }
}

footer {
    section.form {
        background: #151515;
        padding: 95px 0;
    }

    section.info {
        background: #1a1f2b;
        font-size: 14px;
        font-weight: normal;
        color: #afb2ba;
    }
}

.full-width {
    width: 100vw;
    position: relative;
    left: calc((100vw - 1140px)/2 * -1);
}

.panel-grid {
    margin-bottom: 0 !important;
}

.element-bt {
    display: table;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    padding: 0 50px;
    @include box-sizing;
    @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
    position: relative;
    cursor: pointer;

    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        z-index: 0;
        @include transition(all, 0.25s, cubic-bezier(.12, .49, 0, 1), 0s);
        bottom: 0;
        left: 0;
        background: #bf9e66;
    }

    &:after {
        width: 100%;
        height: 0;
        content: '';
        position: absolute;
        z-index: 0;
        @include transition(all, 0.25s, cubic-bezier(.12, .49, 0, 1), 0s);
        top: 0;
        left: 0;
        background: #fff;
    }

    .text {
        position: relative;
        z-index: 1;
    }

    .arrow {
        position: relative;
        margin-left: 15px;
        left: 0;
        z-index: 1;
        @include transition(left, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

        line,
        path {
            stroke: #ffffff;
        }
    }
}

.element-bt:hover {
    color: #bf9e66;

    &:before {
        height: 0;
    }

    &:after {
        height: 100%;
    }

    .arrow {
        left: 5px;

        line,
        path {
            stroke: #bf9e66;
        }
    }
}

.element-bt2 {
    display: table;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #bf9e66;
    border: 1px solid #bf9e66;
    padding: 0 50px;
    @include box-sizing;
    @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
    position: relative;
    cursor: pointer;

    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        z-index: 0;
        @include transition(all, 0.25s, cubic-bezier(.12, .49, 0, 1), 0s);
        bottom: 0;
        left: 0;
        background: #ffffff;
    }

    &:after {
        width: 100%;
        height: 0;
        content: '';
        position: absolute;
        z-index: 0;
        @include transition(all, 0.25s, cubic-bezier(.12, .49, 0, 1), 0s);
        top: 0;
        left: 0;
        background: #bf9e66;
    }

    .text {
        position: relative;
        z-index: 1;
    }

    .icon {
        position: relative;
        margin-right: 5px;
        top: 2px;
        z-index: 1;

        line,
        path {
            stroke: #bf9e66;
        }
    }

    .arrow {
        position: relative;
        margin-left: 15px;
        left: 0;
        z-index: 1;
        @include transition(left, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

        line,
        path {
            stroke: #bf9e66;
        }
    }
}

.element-bt2:hover {
    color: #ffffff;

    &:before {
        height: 0;
    }

    &:after {
        height: 100%;
    }

    .icon {
        line,
        path {
            stroke: #ffffff;
        }
    }

    .arrow {
        left: 5px;

        line,
        path {
            stroke: #ffffff;
        }
    }
}

.element-bt-arrow {
    display: table;
    width: auto;
    height: 13px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #bf9e66;
    @include transition(color, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);
    cursor: pointer;

    .icon {
        font-size: 14px;
        padding-right: 10px;
    }

    .arrow {
        position: relative;
        margin-left: 15px;
        left: 0;
        @include transition(left, 0.35s, cubic-bezier(.12, .49, 0, 1), 0s);

        line,
        path {
            stroke: #bf9e66;
        }
    }
}

.element-bt-arrow:hover {
    color: #fff;

    .arrow {
        left: 5px;

        line,
        path {
            stroke: #fff;
        }
    }
}

.element-bt-arrow.hover-black:hover {
    color: #000;
}

.element-bt-arrow.hover-black:hover .arrow * {
    stroke: #000;
}

.row.table-row {
    display: table;
    width: 100%;
    margin: 0;
}

.row.table-row > [class*="col-"] {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: middle;
}

.widget {
    position: relative;
}

.modal-backdrop {
    background: rgba(29, 33, 43, 0.95) !important;
    opacity: 1 !important;
}
/* ================== */
/* 5.9. min SM screen style */
/* ================== */
@media (min-width: 767px) {
    /* ========================
        Page HOME
    ======================== */
    body.home:not(.scrolled) {
        header .row_nav {
            .links {
                line-height: 110px;
                height: 110px;

                .logo {
                    width: 250px;
                    height: 180px;
                    position: absolute;
                    top: 110px;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    z-index: 2;
                }

                .logo.big {
                    display: inline-block;
                }

                .logo.small {
                    display: none;
                }
            }
        }
    }
    /* ========================
        Page ALL
    ======================== */
    body:not(.home) {
        section#content {
            margin-top: 140px;
        }
    }

    body:not(.home):not(.scrolled) {
        header {
            background: #fff;

            .row_nav {
                .links {
                    text-align: center;
                    line-height: 140px;
                    height: 140px;
                    overflow: hidden;

                    .logo {
                        width: 135px;
                        height: 90px;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        -ms-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                        z-index: 2;
                    }

                    .logo.big {
                        display: inline-block;
                    }

                    .logo.small {
                        display: none;
                    }

                    .left {
                        position: absolute;
                        left: 0;
                        width: 50%;
                        display: block;
                        text-align: right;
                        padding-right: 90px;
                    }

                    .right {
                        position: absolute;
                        left: 50%;
                        width: 50%;
                        display: block;
                        text-align: left;
                        padding-left: 90px;
                    }
                }
            }
        }
    }
}
/* ================== */
/* MD screen style */
/* ================== */
@media (max-width: 1199px) {
    .full-width {
        left: calc((100vw - 940px)/2 * -1);
    }
}
/* ================== */
/* MAGIC for menu */
/* ================== */
@media (min-width: 767px) and (max-width: 1280px) {
    body:not(.home):not(.scrolled) {
        header .row_nav .links a:not(.logo) {
            margin: 0 20px;
        }
    }

    body.scrolled {
        header .row_nav .links a:not(.logo) {
            margin: 0 20px;
        }
    }
}
@media (min-width: 767px) and (max-width: 1150px) {
    body:not(.home):not(.scrolled) header .row_nav .links {
        a:not(.logo) {
            font-size: 13px;
            margin: 0 15px;
        }

        .left a {
            margin: 0 10px;
        }
    }
}
@media (min-width: 767px) and (max-width: 960px) {
    body:not(.home):not(.scrolled) {
        header .row_nav .links {
            .left {
                padding-right: 60px;
            }

            .right {
                padding-left: 60px;
            }
        }
    }
}
@media (min-width: 767px) and (max-width: 900px) {
    body header .row_nav .links {
        a:not(.logo) {
            font-size: 12px;
        }

        .left a {
            margin: 0 5px;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
// @media (min-width: 760px) and (max-width: 1100px) and (orientation: landscape) {
//     body {
//         opacity: .7;
//     }
// }
@media (max-width: 992px) {
    .full-width {
        left: calc((100vw - 720px)/2 * -1);
    }

    header {
        .row_nav .links {
            a {
                margin: 0 12px;
            }
        }
    }

    body:not(.scrolled) header .row_nav .links {
        line-height: 80px;
        height: 80px;

        .logo {
            width: 170px;
            height: 120px;
            top: 80px;
        }
    }

    body.scrolled header .row_nav .links {
        .logo {
            width: 50px;
            height: 50px;
            position: fixed;
            left: 8px;
            top: 15px;
            -ms-transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -o-transform: none;
            transform: none;
        }

        .left,
        .right {
            width: auto;
            position: static;
            float: left;
            padding: 0;
        }

        .left {
            padding-left: 55px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .full-width {
        left: -15px;
    }

    .row.table-row > [class*="col-"] {
        display: block;
        height: auto;
        float: left;
    }

    body.scrolled,
    body:not(.scrolled) {
        header {
            .row_nav {
                height: 50px;
                background: #fff;
                position: fixed;
                left: 0;
                top: 0;
                -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
                -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
                box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
                -webkit-animation: none;
                animation: none;

                .toggleMenu {
                    display: block;
                    position: fixed;
                    top: 0;
                    right: 0;
                    padding: 15px 15px 0;

                    * {
                        fill: #4f5c8a;
                    }
                }

                .toggleMenu:active * {
                    fill: #97a2ca;
                }

                .links {
                    text-align: center;
                    line-height: 35px;
                    height: auto;
                    background: #fff;
                    padding-bottom: 10px;

                    a:not(.logo) {
                        display: table;
                        width: auto;
                        margin: 0 auto;
                        left: -40px;
                        opacity: 0;
                    }

                    .left {
                        margin-top: 50px;
                    }

                    .left,
                    .right {
                        display: block;
                        position: relative;
                        left: 0;
                        text-align: left;
                        padding: 0;
                        float: none;
                        height: 0;
                        overflow: hidden;
                    }

                    .logo {
                        width: 35px;
                        height: 35px;
                        position: fixed;
                        left: 8px;
                        top: 8px;
                        -ms-transform: none;
                        -webkit-transform: none;
                        -moz-transform: none;
                        -o-transform: none;
                        transform: none;
                    }

                    .logo.mobile {
                        width: 140px;

                        img {
                            height: 100%;
                        }
                    }

                    .logo.big,
                    .logo.small {
                        display: none;
                    }

                    .logo.mobile {
                        display: block;
                    }
                }
            }
        }

        header.open {
            &::before {
                content: "\00a0";
                width: 100vw;
                height: 100vh;
                border: 1px solid #252525;
                background: rgba(40,48,69,.5);
                position: fixed;
                top: 0;
                left: 0;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                z-index: 0;
            }

            .row_nav {
                height: auto;

                .links {
                    .left,
                    .right {
                        height: auto !important;
                        overflow: visible;
                    }

                    a:not(.logo) {
                        left: 0;
                        opacity: 1;
                        @include transition2(left, .35s, cubic-bezier(.12, .49, 0, 1), 0s, opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                    @for $i from 1 through 10 {
                        a.link#{$i}:not(.logo) {
                            @include transition-delay(#{$i/10+0.1}s);
                        }
                    }
                }
            }
        }
    }

    body.home:not(.scrolled) {
        header {
            .links {
                .logo.big {
                    display: block !important;
                    width: 100px;
                    height: 100px;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    top: 60px;
                }
            }
        }

        header.open {
            .links {
                .logo.big {
                    display: none !important;
                }
            }
        }
    }

    body.home.scrolled {
        .links {
            .logo.big {
                display: none !important;
            }
        }
    }

    footer section.form {
        padding: 0;
    }
}
/* Preloader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    img {
        display: block;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        z-index: 9990;
        -webkit-animation: sailAnim 3s ease-in-out infinite;
        animation: sailAnim 3s ease-in-out infinite;
    }
    @-webkit-keyframes sailAnim {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
    }
    @keyframes sailAnim {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
    }
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #575756;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;

    img {
        opacity: 0;
        -webkit-transition: opacity 0.3s 0s ease-out;
        transition: opacity 0.3s 0s ease-out;
    }

    .loader-section.section-left {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loader-section.section-right {
        -webkit-transform: translateY(-100%);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);
        /* IE 9 */
        transform: translateY(-100%);
        /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
}

.so-panel {
    margin: 0 !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

     > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
